{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="TemplateMo">
  <link
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap"
    rel="stylesheet">

  <title>About - Knowledge Transfer Portal</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'ktp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="{% static 'ktp/css/fontawesome.css' %}">
  <link rel="stylesheet" href="{% static 'ktp/css/index.css' %}">
  <link rel="stylesheet" href="{% static 'ktp/css/owl.css' %}">
  <link rel="stylesheet" href="{% static 'ktp/css/about.css' %}">
  <style>
    .team-title {
    /* margin: auto; */
    padding-left: 16px;
    padding-right: 16px;
}
    .team {
   
    padding-left: 0px;
    padding-right: 0px;
  
}
.team-member{
  height:280px;
}
  </style>
</head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="preloader">
    <div class="jumper">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- Header -->
  <header class="">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="{% url 'ktp:index' %}">
          <div class="navbar-logo">
            <img src="{% static 'website/img/logo.gif' %}" alt="" />
            <h2>Knowledge Transfer<br />Portal</h2>
          </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
          aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto" style="display: flex;align-items: center;">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'ktp:index' %}">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'ktp:about' %}">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'ktp:blog' %}">Blog Entries</a>
            </li>
            <li class="nav-item">
              <a class="nav-link-btn" href="{% url 'ktp:logout_user' %}">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <!-- Page Content -->
  <!-- Banner Starts Here -->
  <div class="heading-page header-text">
    <section class="page-heading">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="text-content">
              <h4>About Us</h4>
              <h2>More About Us!</h2>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- Banner Ends Here -->

  <section class="about-us">
    <div class="container">

      <div class="row">
        <div class="col-lg-12">
          <h1 style="margin-top: -50px;font-size: 40px"><span style="font-size: 25px;">About</span> Knowledge Transfer
            Portal</h1>
          <p>Knowledge Transfer Portal (KTP) is a part of the International Relations Cell under the Office of
            International Relations (OIR) that aims to streamline the knowledge which ensures that everyone on the team
            has the information they need to keep the cell
            functioning smoothly. Knowledge transfer is important as it improves innovation, collaboration, and
            understanding among the team members. Rather than relying on facts and data to share information across the
            tenures, the portal is better able to paint a
            holistic picture of complicated concepts.</p>
        </div>
      </div>

      <h1 style="margin-top: -10px;font-size: 40px"><span style="font-size: 25px;">Meet the Team,</span> IRCell {{year}}
        <form action="{% url 'ktp:about' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <select name="year">
            <option value="2022">22-23</option>
            <option value="2021">21-22</option>
            <option value="2021">20-21</option>
            <option value="2021">19-20</option>
            <option value="2021">18-19</option>
            
          </select>
          <button type="submit" class="btn btn-primary"  >Team</button>
        </form>
        {% comment %}  {% endcomment %}
        {% comment %} <select name="year">
          <option value="2021">21-22</option>
          <option value="2022">22-23</option> {% endcomment %}
      </h1>


      <div class="row" style="margin-top: 20px; justify-content:center;  gap:10px;">

        <!-- kdlsnlksdnlvjbsdljkvsldjkvbsklbslkb/////////// -->
        {% for t in team %}
        <div class="col-md-3 col-sm-4 card team">
          <div class="team-member" >
            <div class="team-img">

              <img src="{{t.image.url}}" alt="team member" class="img-responsive">
            </div>
            <div class="team-hover">
              <div class="s-link">
                {% comment %} <a href="mailto:vardhanfirstof@gmail.com"><i class="fa fa-envelope"></i></a>
                <a href="https://www.facebook.com/profile.php?id=100006805307830" target="_blank"><i
                    class="fa fa-facebook"></i></a>
                <a href="https://www.linkedin.com/in/s-s-s-vardhan" target="_blank"><i class="fa fa-linkedin"></i></a> {% endcomment %}
                <a style="color:white"><i class="fa fa-phone" aria-hidden="true"></i> {{t.contact}}</a>
              </div>
            </div>
          </div>


          <div class="team-title" >
            <h5>{{t.Title}}</h5>
            <span>{{t.sub_title}}</span>
          </div>
        </div>

        {% endfor %}
<!-- zdvknsknv;sk -->

        <!-- <div class="col-md-4 col-sm-4">
          <div class="team-member">
            <div class="team-img">
              <img src="{% static 'website/img/team/snehal.JPG' %}" alt="team member" class="img-responsive">
            </div>
            <div class="team-hover">
              <div class="s-link">
                {% comment %} <a href="mailto:snehalswadhin@gmail.com"><i class="fa fa-envelope"></i></a>
                <a href="https://www.facebook.com/snehal.swadhin.3/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.linkedin.com/in/snehal-swadhin-311355192/" target="_blank"><i
                    class="fa fa-linkedin"></i></a> {% endcomment %}
                    <a style="color:white"><i class="fa fa-phone" aria-hidden="true"></i> +91 82358 00594</a>
              </div>
            </div>
          </div> -->


          <!-- <div class="team-title">
            <h5>Snehal Swadhin</h5>
            <span>Web Coordinator</span>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="team-member">
            <div class="team-img">

              <img src="{% static 'website/img/team/shreya.jpg' %}" alt="team member" class="img-responsive">
            </div>
            <div class="team-hover">
              <div class="s-link">
                {% comment %} <a href="mailto:shreyakhare29@gmail.com"><i class="fa fa-envelope"></i></a>
                <a href="https://www.facebook.com/shreya.khare.29" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.linkedin.com/in/shreya-khare-698293194/" target="_blank"><i
                    class="fa fa-linkedin"></i></a> {% endcomment %}
                    <a style="color:white"><i class="fa fa-phone" aria-hidden="true"></i> +91 74318 85433</a>
              </div>
            </div>
          </div>
          <div class="team-title">
            <h5>Shreya Khare</h5>
            <span>Web Coordinator</span>
          </div>
        </div>
      </div>

      <div class="row" style="margin-top: 20px;">
        <div class="col-md-4 col-sm-4">
          <div class="team-member">
            <div class="team-img">

              <img src="{% static 'website/img/team/ranabir.jpeg' %}" alt="team member" class="img-responsive">
            </div>
            <div class="team-hover">
              <div class="s-link">
                {% comment %} <a href="mailto:ranabirbasu12@gmail.com"><i class="fa fa-envelope"></i></a>
                <a href="https://www.facebook.com/ranabirbasu12/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.linkedin.com/in/ranabir-b-ab2374113/" target="_blank"><i
                    class="fa fa-linkedin"></i></a> {% endcomment %}
                    <a style="color:white"><i class="fa fa-phone" aria-hidden="true"></i> +91 90073 40609</a>
              </div>
            </div>
          </div>
          <div class="team-title">
            <h5>Ranabir Basu</h5>
            <span>Coordinator</span>
          </div>
        </div>

        <div class="col-md-4 col-sm-4">
          <div class="team-member">
            <div class="team-img">
              <img src="{% static 'website/img/team/nishita.jpeg' %}" alt="team member" class="img-responsive">
            </div>
            <div class="team-hover">
              <div class="s-link">
                {% comment %} <a href="mailto:nishitatripathy712@gmail.com"><i class="fa fa-envelope"></i></a>
                <a href="https://www.facebook.com/nishita.tripathy/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://linkedin.com/in/nishita-tripathy-7556231b4" target="_blank"><i
                    class="fa fa-linkedin"></i></a> {% endcomment %}
                    <a style="color:white"><i class="fa fa-phone" aria-hidden="true"></i> +91 75869 41444</a>
              </div>
            </div>
          </div>
          <div class="team-title">
            <h5>Nishita Tripathy</h5>
            <span>Coordinator</span>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="team-member">
            <div class="team-img">
              <img src="{% static 'website/img/team/tushan.png' %}" alt="team member" class="img-responsive">
            </div>
            <div class="team-hover">
              <div class="s-link">
                {% comment %} <a href="mailto:tushan4688@gmail.com"><i class="fa fa-envelope"></i></a>
                <a href="https://www.facebook.com/tushankumar.singh" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.linkedin.com/in/tushan-kumar-singh-9842221a4" target="_blank"><i
                    class="fa fa-linkedin"></i></a> {% endcomment %}
                    <a style="color:white"><i class="fa fa-phone" aria-hidden="true"></i> +91 95042 69680</a>
              </div>
            </div>
          </div> -->
          <!-- <div class="team-title">
            <h5>Tushan Kumar Singh</h5>
            <span>Coordinator</span>
          </div> -->
        <!-- </div> -->

      </div>
    </div>
  </section>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <ul class="social-icons">
            <li><a target="_blank" href="https://www.facebook.com/IRCIITKGP/">Facebook</a></li>
            <li><a target="_blank" href="https://www.instagram.com/irc.iitkgp/">Instagram</a></li>
            <li><a target="_blank"
                href="https://linkedin.com/company/international-relations-cell-iit-kharagpur/">Linkedin</a></li>
            <li><a target="_blank" href="https://ircell.iitkgp.ac.in/">Website - IRCell</a></li>
          </ul>
        </div>
        <div class="col-lg-12">
          <div class="copyright-text">
            <p>Copyright 2022 International Relations Cell, IIT Kharagpur</p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'ktp/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'ktp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Additional Scripts -->
  <script src="{% static 'ktp/js/custom.js' %}"></script>
  <script src="{% static 'ktp/js/owl.js' %}"></script>
  <script src="{% static 'ktp/js/slick.js' %}"></script>
  <script src="{% static 'ktp/js/isotope.js' %}"></script>
  <script src="{% static 'ktp/js/accordions.js' %}"></script>

  <script language="text/Javascript">
    cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
    function clearField(t) {                   //declaring the array outside of the
      if (!cleared[t.id]) {                      // function makes it static and global
        cleared[t.id] = 1;  // you could use true and false, but that's more typing
        t.value = '';         // with more chance of typos
        t.style.color = '#fff';
      }
    }
  </script>

</body>

</html>