{% extends 'ftp/base.html' %}
{% load static %}

{% block title %}Scholarships | FTP | International Relations Cell{% endblock %}

{% block header %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
    integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
    integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
    crossorigin="anonymous"></script>


{% endblock %}

{% block main %}
<style>
    #one{
        color:red;
    }
    #two{
        color:red;
    }
    #three{
        color:red;
    }
    
</style>
<link rel="stylesheet" href="{% static 'ftp/ProjectsPage/css/application.css' %}">
<main>
    <section>

        <div id="application" class="services-section section-padding30 fix" style="padding:60px;">
            <div style="background-color:#ece8e899 ; width: 94%; margin-left: 3% ; margin-top: 50px;">
                <form style="background-color:white ; margin-left:15px; margin-right: 15px;" name="myForm" id="myform" onsubmit="validateForm(event)" method="POST" enctype="multipart/form-data" action="{% url 'ftp:apply_scholarship' %}"
                >
                {% csrf_token %}

                    <div class="row">
                        <!-- Content Column -->
                        <div class="col-xl-12 my-4" style="text-align: center">


                            <div class="row">
                                {% if errors %}
                                {% for field in form %}
                                {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ field.name }} - {{ error|escape }}</strong>
                                </div>
                                {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="form-group row" style="margin-top: 1rem; margin-left:30px">
                        <div class="row">
                            <div class="cell w-100">
                                <!-- Large title -->
                                <h1 style="font-size:40px"> Apply IITKGPF Scholarship<br><br></h1>
                            </div>
                        </div>
                    </div>
                    <div class="container" style="width:94% ;">
                        {% if prof.fullname %}
                        <input name="name" value="{{ prof.fullname }}" style="display: none;"/>
                        <input name="roll" value="{{ prof.rollno }}" style="display: none;"/>
                        <input name="department" value="{{ prof.department }}" style="display: none;"/>
                        <input name="email" value="{{ prof.alt_email }}" style="display: none;"/>
                        {% else %}
                        <div class="row" style="margin-bottom: 50px;">
                            <div class="col-md-6">
                                <label class="col-form-label" for="name"
                                    style="color:#8c8a8ae3 ; font-weight: bold; font-size: 16px;display: inline-block;margin-bottom:10px;    font-family: 'Open Sans', sans-serif !important;">Name of Applicant<span style="color:red;"> *</span></label>
                                <Input name="name" class="form-control"
                                    style="height:25px;outline: 0; border-width: 0 0 1px;border-radius: 0 0 0 0;border-color: black; opacity:0.4; "
                                    placeholder="Name of the Student" required></Input>
                            </div>
                            <div class="col-md-6">
                                <label class="col-form-label" for="roll"
                                    style=" color:#8c8a8ae3 ; font-weight: bold; font-size: 16px;display: inline-block;margin-bottom:10px;font-family: 'Open Sans', sans-serif !important;">Roll No<span style="color:red;"> *</span></label>
                                <Input name="roll" class="form-control"
                                    style="height:25px; outline: 0; border-width: 0 0 1px;border-radius: 0 0 0 0;border-color: black; opacity:0.4;"
                                    Placeholder="Roll No." required></Input>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 50px;">
                            <div class="col-md-6">
                                <label class="col-form-label" for="department"
                                    style="color:#8c8a8ae3 ; font-weight: bold; font-size: 16px;display: inline-block;margin-bottom:10px;    font-family: 'Open Sans', sans-serif !important;">Department/School/Center<span style="color:red;"> *</span></label>
                                <Input name="department" class="form-control"
                                    style="height:25px;outline: 0; border-width: 0 0 1px;border-radius: 0 0 0 0;border-color: black; opacity:0.4; "
                                    placeholder="Department" required></Input>
                            </div>
                            <div class="col-md-6">
                                <label class="col-form-label" for="yearOfGrad"
                                    style="color:#8c8a8ae3 ; font-weight: bold; font-size: 16px;display: inline-block;margin-bottom:10px;    font-family: 'Open Sans', sans-serif !important;">Degree Expected/Year of Graduation<span style="color:red;"> *</span></label>
                                <Input name="yearOfGrad" class="form-control" type="number"
                                    style="height:25px;outline: 0; border-width: 0 0 1px;border-radius: 0 0 0 0;border-color: black; opacity:0.4; "
                                    placeholder="Year of Graduation" required></Input>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 50px;">
                            <div class="col-md-6">
                                <label class="col-form-label" for="email"
                                    style="color:#8c8a8ae3 ; font-weight: bold; font-size: 16px;display: inline-block;margin-bottom:10px;    font-family: 'Open Sans', sans-serif !important;">Email<span style="color:red;"> *</span></label>
                                <Input name="email" class="form-control"
                                    style="height:25px;outline: 0; border-width: 0 0 1px;border-radius: 0 0 0 0;border-color: black; opacity:0.4; "
                                    placeholder="Email Address" required></Input>
                            </div>
                        </div>
                        {% endif %}      

                                                    <div class="row">
                                <div class="col-md-6">
                                    <label class="col-form-label" for="NameofFacultyAdvisor"
                                        style="color:#8c8a8ae3 ; font-weight: bold; font-size: 16px;display: inline-block;margin-bottom:10px;    font-family: 'Open Sans', sans-serif !important;">Name
                                        of Faculty Advisor<span style="color:red;"> *</span></label>
                                    <Input name="NameofFacultyAdvisor" class="form-control"
                                        style="height:25px;outline: 0; border-width: 0 0 1px;border-radius: 0 0 0 0;border-color: black; opacity:0.4; "
                                        placeholder="Faculty Advisor Name" required></Input>
                                </div>
                                <div class="col-md-6">
                                    <label class="col-form-label" for="NameofHOD"
                                        style=" color:#8c8a8ae3 ; font-weight: bold; font-size: 16px;display: inline-block;margin-bottom:10px;font-family: 'Open Sans', sans-serif !important;">Name
                                        of HOD<span style="color:red;"> *</span></label>
                                    <Input name="NameofHOD" class="form-control"
                                        style="height:25px; outline: 0; border-width: 0 0 1px;border-radius: 0 0 0 0;border-color: black; opacity:0.4;"
                                        Placeholder="HOD Name" required></Input>
                                </div>
                            </div>

                            <div class="row" style="margin-top:50px">
                                <div class="col-md-6">
                                    <label class="col-form-label" for="Nameofhostinstitution"
                                        style="color:#8c8a8ae3 ; font-weight: bold; font-size: 16px;display: inline-block;margin-bottom:10px; font-family: 'Open Sans', sans-serif !important;">Name
                                        of Host institution<span style="color:red;"> *</span></label>
                                    <Input name="Nameofhostinstitution" class="form-control"
                                        style="height:25px;outline: 0; border-width: 0 0 1px;border-radius: 0 0 0 0;border-color: black ; opacity:0.4;"
                                        placeholder="Host Institution Name" required></Input>
                                </div>
                                {% if prof.fullname %}
                                <div class="col-md-6">
                                    <label class="col-form-label" for="yearOfGrad"
                                        style="color:#8c8a8ae3 ; font-weight: bold; font-size: 16px;display: inline-block;margin-bottom:10px;    font-family: 'Open Sans', sans-serif !important;">Year
                                        of Graduation<span style="color:red;"> *</span></label>
                                    <Input name="yearOfGrad" class="form-control" type="number"
                                        style="height:25px;outline: 0; border-width: 0 0 1px;border-radius: 0 0 0 0;border-color: black; opacity:0.4; "
                                        placeholder="Year of Graduation" required></Input>
                                </div>
                                {% endif %}

                                <div class="row" style="margin-top:60px;">
                                    <div class="col-md-6">
                                        <label class="col-form-label" for="DurationOfVisit_from_and_to"
                                            style="color:#8c8a8ae3 ; font-weight: bold; font-size: 16px;display: inline-block;margin-bottom:10px; font-family: 'Open Sans', sans-serif !important;">Duration
                                            of visit (from & to)<span style="color:red;"> *</span></label>
                                    </div>
                                    <div class="col-md-3">
                                        <input style="margin-right:73px" type="date" name="DurationOfVisit_from"
                                            class="form-control" required>
                                    </div>

                                    <div class="col-md-3" id="one1">
                                        <input style="margin-right:120px" type="date" name="DurationOfVisit_to"
                                            class="form-control" required>
                                    </div>
                                </div>



                                <div class="row" style="margin-top:50px">
                                    <div class="col-md-12">
                                        <label class="col-form-label one" 
                                            for="DetailsOfTheProposedResearch_or_professionalInternship"
                                            style="color:#8c8a8ae3 ; font-weight: bold; font-size: 16px;display: inline-block;margin-bottom:10px;font-family: 'Open Sans', sans-serif !important;">Details of the proposed research/professional internship (250 words)<span
                                                style="color:red;"> *</span></label>
                                        <span id="one" style="color:red;"> </span>
                                        <textarea id="two1" name="DetailsOfTheProposedResearch_or_professionalInternship" id="DetailsOfTheProposedResearch_or_professionalInternship"
                                            class="form-control"
                                            style="height:200px ;width:98%;outline: 0; border-width: 0 0 1px;border-radius: 0 0 0 0;border-color: black; opacity:0.4;"
                                            placeholder="Proposed research/Professional internship details" rows="10"
                                            required></textarea>

                                    </div>
                                    <div class="row" style="margin-top:50px">
                                        <div class="col-md-12">
                                            <label class="col-form-label two"  for="SOP"
                                                style="color:#8c8a8ae3 ; font-weight: bold; font-size: 16px;display: inline-block;margin-bottom:10px;font-family: 'Open Sans', sans-serif !important;">Your
                                                Statement of Purpose (SOP - 250 words)<span style="color:red;">
                                                    *</span></label>
                                            <span id="two"> </span>
                                            <textarea name="sop" class="form-control" rows="10"
                                                name="Statement_of_Purpose" id="Statement_of_Purpose"
                                                style="height:200px; width:100% ;outline: 0; border-width: 0 0 1px;border-radius: 0 0 0 0;border-color: black; opacity:0.4;"
                                                placeholder="Purpose Statement" required></textarea>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top:50px;">
                                        <div class="col-md-12">
                                            <label class="col-form-label" for="HistoryOfCollobration"
                                                style="color:#8c8a8ae3 ; font-weight: bold; font-size: 16px;display: inline-block;margin-bottom:10px;font-family: 'Open Sans', sans-serif !important;">History
                                                of Collaboration (if any) with the host institution/company</label>
                                            <textarea name="HistoryOfCollobration" class="form-control" rows="10"
                                                style="height:200px;outline: 0; border-width: 0 0 1px;border-radius: 0 0 0 0;border-color: black; opacity: 0.4;"
                                                placeholder="History of Collaboration with the host institution/company"></textarea>
                                        </div>
                                    </div>

                                    <div class="row" style="margin-top:50px">
                                        <div class="col-md-12">
                                            <label class="col-form-label"
                                                for="Justification_of_applying_through_the_IITKGF_Of_USA_AwardProgram"
                                                style="color:#8c8a8ae3 ; font-weight: bold; font-size: 16px;display: inline-block;margin-bottom:10px;font-family: 'Open Sans', sans-serif !important;">Justification
                                                of applying through (IITKGP) USA Award Program<span style="color:red;">
                                                    *</span></label>
                                            <textarea
                                                name="Justification_of_applying_through_the_IITKGF_Of_USA_AwardProgram"
                                                class="form-control" rows="10"
                                                style="height:200px;outline: 0; border-width: 0 0 1px;border-radius: 0 0 0 0;border-color: black; opacity:0.4;"
                                                placeholder="Justification of applying" required></textarea>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top:50px">
                                        <div class="col-md-12">
                                            <label class="col-form-label" for="PossibleOutcomeOfYourProposedResearch"
                                                style="color:#8c8a8ae3 ; font-weight: bold; font-size: 16px;display: inline-block;margin-bottom:10px;font-family: 'Open Sans', sans-serif !important;">Possible
                                                outcome of your proposed research/ professional internship<span
                                                    style="color:red;"> *</span></label>
                                            <textarea id="three1" name="PossibleOutcomeOfYourProposedResearch" class="form-control"
                                                rows="10"
                                                style="height:200px;outline: 0; border-width: 0 0 1px;border-radius: 0 0 0 0;border-color: black; opacity: 0.4;"
                                                placeholder="Outcome of your proposed research/ professional internship"
                                                required></textarea>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top:50px">
                                        <div class="col-md-12">
                                            <label class="col-form-label three" 
                                                for="Explain_in_about_250_words_how_your_engagement_with_the_Host_Institute"
                                                style="color:#8c8a8ae3 ; font-weight: bold; font-size: 16px;display: inline-block;margin-bottom:10px;font-family: 'Open Sans', sans-serif !important;">Explain in about 250 words how your engagement with the Host Institute/company will be beneficial to IIT KGP<span style="color:red;">
                                                    *</span></label>
                                            <span id="three"> </span>
                                            <textarea
                                                name="Explain_in_about_250_words_how_your_engagement_with_the_Host_Institute" id="Explain_in_about_250_words_how_your_engagement_with_the_Host_Institute"
                                                class="form-control" rows="10"
                                                style="height:200px;outline: 0; border-width: 0 0 1px;border-radius: 0 0 0 0;border-color: black; opacity: 0.4;"
                                                placeholder="Your engagement with the Host Institute/company"
                                                required></textarea>
                                        </div>
                                    </div>

                                    <div class="row" style="margin-top: 50px;">
                                        <div class="col-md-12">
                                            <label class="col-form-label" for="cv"
                                                style="color:#8c8a8ae3 ; font-weight: bold; font-size: 16px;display: inline-block;margin-bottom:10px;font-family: 'Open Sans', sans-serif !important;">Latest
                                                CV<span style="color:red;"> *</span></label>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom: 50px;">
                                        <div class="col-md-12">
                                            <input type="file" class="form-control-file" name="cv" accept=".pdf" required>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="col-form-label" for="Transcript"
                                                style="color:#8c8a8ae3 ; font-weight: bold; font-size: 16px;display: inline-block;margin-bottom:10px;font-family: 'Open Sans', sans-serif !important;">Transcript<span style="color:red;"> *</span></label>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom: 50px;">
                                        <div class="col-md-12">
                                            <input type="file" class="form-control-file" name="Transcript" accept=".pdf" required>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="col-form-label" for="Awards"
                                                style="color:#8c8a8ae3 ; font-weight: bold; font-size: 16px;display: inline-block;margin-bottom:10px;font-family: 'Open Sans', sans-serif !important;">Awards & prize (Upload merged PDF)</label>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom: 50px;">
                                        <div class="col-md-12">
                                            <input type="file" class="form-control-file" name="Awards" accept=".pdf"
                                                style="margin:2px;">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="col-form-label" for="offer_letter"
                                                style="color:#8c8a8ae3 ; font-weight: bold; font-size: 16px;display: inline-block;margin-bottom:10px;font-family: 'Open Sans', sans-serif !important;">Formal Internship Award Letter<span style="color:red;"> *</span></label>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom: 50px;">
                                        <div class="col-md-12">
                                            <input type="file" class="form-control-file" name="offer_letter" accept=".pdf"
                                                style="margin:2px;" required>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="col-form-label" for="work_publication"
                                                style="color:#8c8a8ae3 ; font-weight: bold; font-size: 16px;display: inline-block;margin-bottom:10px;font-family: 'Open Sans', sans-serif !important;">For Ph.D Applicants only: Do you have one publication for your work?</label>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom: 50px;">
                                        <div class="col-md-12">
                                            <input type="file" class="form-control-file" name="work_publication" accept=".pdf"
                                                style="margin:2px;">
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="col-form-label" for="NOC"
                                                style="color:#8c8a8ae3 ; font-weight: bold; font-size: 16px;display: inline-block;margin-bottom:10px;font-family: 'Open Sans', sans-serif !important;">NoC from faculty advisor and HoD of Dept/School/Center approving application for the award funding.<span style="color:red;"> *</span></label>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom: 50px;">
                                        <div class="col-md-12">
                                            <input type="file" class="form-control-file" name="NOC" required
                                                accept=".pdf" style="margin:2px;">
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="col-form-label" for="fuding_proof"
                                                style="color:#8c8a8ae3 ; font-weight: bold; font-size: 16px;display: inline-block;margin-bottom:10px;font-family: 'Open Sans', sans-serif !important;">List all financial assistance received (Upload merged pdf)</label>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom: 50px;">
                                        <div class="col-md-12">
                                            <input type="file" class="form-control-file" name="fuding_proof" accept=".pdf" style="margin:2px;">
                                        </div>
                                    </div>

                                    {% comment %}<div class="row">
                                        <div class="col-md-12">
                                            <label class="col-sm-3 col-form-label" for="prev_funding"
                                                style="color:#8c8a8ae3 ; font-weight: bold; font-size: 16px;display: inline-block;margin-bottom:10px;font-family: 'Open Sans', sans-serif !important;">Previous
                                                Funding</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="yes-no" style="min-width: 210px;" style="margin:2px;">
                                            <input type="radio" class="col-md-1 col-form-label funding"
                                                name="prev_funding"
                                                style="display: inline-block !important; width: auto;" value="True"
                                                onclick="$('.filee').css('visibility','visible');$('.proof').prop('required',true);">Yes
                                            <input type="radio" class="col-md-1 col-form-label" name="prev_funding"
                                                style="display: inline-block !important; width: auto; margin-left: 10px;"
                                                value="False" checked
                                                onclick="$('.filee').css('visibility','hidden');$('.proof').prop('required',false);">No
                                        </div>
                                    </div>


                                    <div class="row filee"
                                        style="text-align:center;visibility: hidden; margin-top:5px; margin-bottom: 10px;">
                                        <div class="col-md-12"><label class=" col-form-label" for="fuding_proof"
                                            style="color:#8c8a8ae3 ; font-weight: bold; font-size: 16px;display: inline-block;margin-bottom:10px;font-family: 'Open Sans', sans-serif !important;">Funding
                                            Proof<span style="color:red;"> *</span></label></div>
                                        <center>
                                            <input type="file" class="form-control-file proof" name="fuding_proof"
                                                accept=".pdf">
                                        </center>
                                    </div> {% endcomment %}
                                
                                    <div class="row" style="margin-top: 0px;margin-bottom: 25px;">
                                        <div class="col-md-12">
                                            <input type="checkbox" name="declaration" id='check1' value='2' required>
                                            &nbsp;
                                            <label class="col-form-label" for="declaration1"
                                                style="color:#8c8a8ae3 ; font-weight: bold; font-size: 16px;display: inline;margin-bottom:10px;font-family: 'Open Sans', sans-serif !important;">
                                                I hereby declare that the information given in this application is true
                                                and correct. Any deviation from the stated facts can lead to the
                                                cancellation of my application<span style="color:red;"> *</span></label>
                                    
                                        </div>
                                    </div>

                                    <!-- Modal footer -->
                                    <center style=" margin-bottom:50px">
                                        <button type="submit" class="btn btn-success applybutton formsub"
                                            style="width: 100px;height: 40px;font-size:20px" id='btn'>Apply</button>
                                        <button type="button" class="btn btn-danger"
                                            style="width: 100px;height: 40px;font-size:20px"
                                            onclick="location.href='{% url 'ftp:scholarships' %}'">Close</button>
                                    </center>
                                </div>
                                <input style="display:none;" id ="col1" name ="col1">
                        </form>
                    </div>

    </section>
</main>
{% endblock %}

{% block js %}
<script>
    var id = window.location.pathname;
    pid = id.slice(24, -1);
    document.getElementById('col1').value=pid;
    {% comment %} document.getElementById('btn').addEventListener('click', () => {
        
        alert('fsfdf');
        
        document.getElementById('myform').submit();
    }
    )
    $(".formsub").click(function () {
        console.log(pid);
        $.ajax({
            type: "GET",
            url: '',
            data: {
                'pid': id,
            },
            dataType: 'json',
            success: function (data) {
                alert('Finally;');
            }
        })
    }); {% endcomment %}

    {% comment %} function countWords1(self){
        var spaces = self.value.match(/\s+/g);
        var words = spaces ? spaces.length : 0;
        console.log(words)
        var button = document.querySelector('.formsub');
    } {% endcomment %}

    function validateForm(e) {
        e.preventDefault()
        var form =document.forms["myForm"];
        str=form.action;
        str=str.slice(0,-1)+pid.toString()+'/';
        console.log(str)
        form.action=str;

        var date1 = document.forms["myForm"]["DurationOfVisit_from"].value
        var date2 = document.forms["myForm"]["DurationOfVisit_to"].value
        console.log(date1);
        console.log(date2);
        var d=new Date;
        var day = d.getDate();
        if(day>9){
            day = day.toString();
        }
        else{
            day = '0' + day.toString();
        }
        var currentMonth = d.getMonth() + 1;
        if(currentMonth>9){
            currentMonth = currentMonth.toString();
        }
        else{
            currentMonth = '0' + currentMonth.toString();
        }
        
        var currentyear = d.getFullYear().toString();
        
        var date = currentyear + '-' + currentMonth + '-' + day;
        if(date>date1){
            alert("Invalid Date")
            document.forms["myForm"]["Nameofhostinstitution"].scrollIntoView();
            return false
        }

        
        if(date2<date1)
        {
            alert("Invalid Date")
            document.forms["myForm"]["Nameofhostinstitution"].scrollIntoView();
            return false
        }
        
        var textbox1 = document.forms["myForm"]["DetailsOfTheProposedResearch_or_professionalInternship"].value;
        var textbox2 = document.forms["myForm"]["Statement_of_Purpose"].value;
        var textbox3 = document.forms["myForm"]["Explain_in_about_250_words_how_your_engagement_with_the_Host_Institute"].value;
        console.log(textbox1)
        console.log(textbox2)
        console.log(textbox3)
        if(textbox1.match(/(\w+)/g) == null){
            var textbox1_count = 0;
        }
        else {
            var textbox1_count = textbox1.match(/(\w+)/g).length
        }

        if(textbox2.match(/(\w+)/g) == null){
            var textbox2_count = 0;
        }
        else {
            var textbox2_count = textbox2.match(/(\w+)/g).length
        }

        if(textbox3.match(/(\w+)/g) == null){
            var textbox3_count = 0;
        }
        else {
            var textbox3_count = textbox3.match(/(\w+)/g).length
        }
        console.log(textbox1_count)
        console.log(textbox2_count)
        console.log(textbox3_count)
        var flag=0;

        if(textbox1_count < 0) {
            document.getElementById("one").innerHTML="**Words less then 250";
            document.getElementById("one1").scrollIntoView();
            alert('Details Of The Proposed Research or professional Internship is less than 250 words');
            return false;
        } else {
            document.getElementById("one").innerHTML="";
            flag+=1;
        }

        if(textbox2_count < 0) {
            document.getElementById("two").innerHTML="**Words less then 250";
            document.getElementById("two1").scrollIntoView();
            alert('Statement of Purpose is less than 250 words');
            return false;
        } else {
            document.getElementById("two").innerHTML="";
            flag+=1;
        }
        if(textbox3_count < 0) {
            document.getElementById("three").innerHTML="**Words less then 250";
            document.getElementById("three1").scrollIntoView();
            alert('Explain in about 250 words how your engagement with the Host Institute is less than 250 words');
            return false;
        } else {
            document.getElementById("three").innerHTML="";
            flag+=1;
        }
        if(flag==3)
        {
            document.forms["myForm"].submit();
            return true;
        } else return false;

    }
    
</script>
{% endblock %}

{% comment %} {% endcomment %}
