@import 'https://fonts.googleapis.com/css?family=Dosis|Roboto:300,400';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
	margin: 0;
	padding: 0;
}

body {
    background-color: #8330c2;
	/* -webkit-mask-image: linear-gradient(180deg, #000 48%, transparent 62%);  */
    /* mask-image: linear-gradient(180deg, #000 48%, transparent 62%); */
}

.container{
	position:absolute;
	width: auto;
	height:auto;
	top: calc(50% - 270px);
	left: calc(50% - 250px); 
}

form {
	position: absolute;
	display: flex;
    flex-direction: column;
    align-items: center;
	/* justify-content: center; */
	background: #fff;
	width: 500px;
	height: 550px;
	border-radius: 15px;
	padding: 30px 20px 0 20px;
	box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
	box-sizing: border-box;
}
/* 
p {

	font-weight: 100;
	
	font-size: 12px;
	color: #87613d;
	margin-bottom: 40px;
} */

/* p > span {
	padding-top: 3px;
	display: block;
	font-weight: 400;
	font-size: 9px;
} */

h3 {
	font-family: 'Poppins', sans-serif;
	font-size: 35px;
	/* text-transform: uppercase; */
	color: #9300ff;
	margin-bottom: 30px;
}

input,
button{
	outline: none !important; 
}

button.fb {
	border: none;
	background: #3b5998;
	width: 160px;
	height: 25px;
	font-family: 'Poppins', sans-serif;
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
	border-radius: 4px;
	border: 1px solid #29487d;
	cursor: pointer;
	margin-bottom: 20px;
	transition:all 0.3s linear;
}
button.fb:hover {
	background: #fff;
	color: #3b5998;
}

button.form-btn {
	position: absolute;
	width: 50%;
	height: 60px;
	bottom: 0;
	border: 0;
	font-family: 'Poppins', sans-serif;
	font-size: 24px;
	text-transform: uppercase;
	cursor: pointer;
}

button.form-btn.sx {
	left: 0;
	border-radius: 0 0 0 15px;
	background-color: #f0ceff;
	color:#9300ff;
	transition:all 0.3s linear;
	border-top: 1.5px solid #9300ff;
}

button.form-btn.sx:hover {
	border-top: none;
	background-color:#c175ff;
	color: #fff;
}

button.form-btn.sx.back {
	background-color: rgba(0, 0, 0, 0.15);
	transition:all 0.3s linear;
}

button.form-btn.sx.back:hover {
	background-color: rgba(0, 0, 0, 0.35);
}

button.form-btn.dx {
	right: 0;
	border-radius: 0 0 15px 0;
	background-color: #b042ff;
	color: #fff;
}

input {
	border: none;
	/* border-bottom: 1px solid #ffc185; */
	width: 65%;
	font-family: 'Roboto';
	/* color: #b042ff; */
	text-align: center;
	font-size: 21px;
	font-weight:100;
	/* margin-bottom:25px; */
}

::-webkit-input-placeholder {
	text-align: start;
	color:#444;
	font-family: 'Poppins', sans-serif;
	font-weight:700;
	-webkit-tap-highlight-color: transparent;
}

:-moz-placeholder {
	color:#444;  
	font-family: 'Roboto';
	font-weight:100;
}

::-moz-placeholder {
	color:#444;  
	font-family: 'Roboto';
	font-weight:100;
}

:-ms-input-placeholder {  
	color:#444; 
	font-family: 'Roboto';
	font-weight:100;
}

.signIn input,
.signUp .w100 {
	width: 100%;
}

.signIn{
		z-index: 1;
		transform: perspective(100px) translate3d(100px, 0px, -30px);
		opacity: 0.5;
}

.signUp {
	z-index: 2;
}

.active-dx{
	animation-name: foregrounding-dx;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}

.active-sx{
	animation-name: foregrounding-sx;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}

.inactive-dx{
	animation-name: overshadowing-dx;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}

.inactive-sx{
	animation-name: overshadowing-sx;
	animation-duration: 0.9s;
	animation-fill-mode: forwards;
}
/* .auth-section-container[data-v-1af34dbe] {
    width: 100%;
    display: flex;
    justify-content: center
}

.auth-section[data-v-1af34dbe] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    grid-gap: 40px;
    gap: 40px;
    width: 320px
}

.auth-section .ms-header[data-v-1af34dbe] {
    margin: auto
}

.auth-section .text-align-center[data-v-1af34dbe] {
    text-align: center
}

.auth-section .auth-content[data-v-1af34dbe] {
    display: flex;
    flex-direction: column;
    width: 100%;
    grid-gap: 16px;
    gap: 16px;
    transform: translateY(2px)
}

.auth-section .auth-buttons[data-v-1af34dbe] {
    display: grid;
    grid-gap: 16px
}

.auth-section .auth-buttons>*[data-v-1af34dbe] {
    display: grid
} */

/* .google{
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: sans-serif;
    border: 1px solid black;
    border-radius: 40px;
} */
.input-field{
	margin-left: 20px;
	margin-right: 20px;
	padding: 5px ;
    display: flex;
    align-items: center;
	justify-content: start;
    width: 90%;
	border: 2px solid #b042ff ;
	border-radius: 40px;
	background-color :#f0ceff ;
	font-family: 'Poppins', sans-serif;
	margin-bottom: 20px;
}
select{
	background-color: #f0ceff;
	border: none ;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-size: 13.5px;
}
input{
	padding-top: 5px ;
	padding-bottom: 5px;
	padding-left: 15px;
	background-color: #f0ceff;
	text-align: start;
	font-family: 'Poppins', sans-serif;
	font-size: 17px;
	font-weight: 800;
}
.input-field i{
	padding-left: 5px;
	color: #444;
}
.warn{
	text-decoration: none;
	font-family :'Roboto';
	margin-top: -10px;
	font-weight: 550;
}
form h3{
	padding-bottom: 0px;
}
.social-text{
	margin-top: 50px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
}
.social-media{
	margin-top: 8px;
	display: flex;
	justify-content: center;
}
.social-media .social-icon{
	height: 35px;
	width: 35px;
	display: flex;
    align-items: center;
    justify-content: center;
	border: 1px solid #444 ;
	padding : 2px;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 200px;
	text-decoration: none;
}
.social-icon i{
	color: #444;

}
.social-media-2{
	margin-top: 8px;
	display: flex;
	justify-content: center;
	margin-top: 100px;
}
.social-media-2 .social-icon{
	height: 35px;
	width: 35px;
	display: flex;
    align-items: center;
    justify-content: center;
	border: 1px solid #444 ;
	padding : 2px;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 200px;
	text-decoration: none;
}

@keyframes overshadowing-dx {
	0%{
		z-index:2;
		transform: perspective(100px) translate3d(0px, 0px, 0px);
		opacity: 1;
		box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
	}
	100%{
		z-index: 1;
		transform: perspective(100px) translate3d(100px, 0px, -30px);
		opacity: 0.5;
		box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
	}
}

@keyframes overshadowing-sx {
	0%{
		z-index:2;
		transform: perspective(100px) translate3d(0px, 0px, 0px);
		opacity: 1;
		box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
	}
	100%{
		z-index: 1;
		transform: perspective(100px) translate3d(-100px, 0px, -30px);
		opacity: 0.5;
		box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
	}
}

@keyframes foregrounding-dx {
	0%{
		z-index:1;
		transform: perspective(100px) translate3d(100px, 0px, -30px);
		opacity: 0.5;
	}
	50%{
		z-index:2;
		transform: perspective(100px) translate3d(400px, 0px, -30px);
	}
	100%{
		z-index:2;
		transform: perspective(100px) translate3d(0px, 0px, 0px);
		opacity: 1;
	}
}

@keyframes foregrounding-sx {
	0%{
		z-index:1;
		transform: perspective(100px) translate3d(-100px, 0px, -30px);
		opacity: 0.5;
	}
	50%{
		z-index:2;
		transform: perspective(100px) translate3d(-400px, 0px, -30px);
	}
	100%{
		z-index:2;
		transform: perspective(100px) translate3d(0px, 0px, 0px);
		opacity: 1;
	}
}
