<!doctype html>
{% load staticfiles %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Professionals Resume HTML Bootstrap Template | Smarteyeapps.com</title>

    <link rel="shortcut icon" href="{% static 'assets/images/fav.jpg' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/fontawsom-all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}" />
</head>
<style>
    .profile-box {
        margin-left: 10px !important;
        margin-top: 5px;
    }
    .style1{
        font-size: 18px !important;
    }
</style>

<body>
    <div class="container-fluid overcover" style="width:85%; padding:0px !important; margin:0px !important; ">
        <div class="container profile-box">
            <div class="top-cover">
                <div class="covwe-inn">
                    <div class="row no-margin">
                        <div class="col-md-3 img-c">
                            <div style="height: 25vh; width:25vh; margin: auto; border-radius: 50%;">
                            <img style="object-fit:cover;width :100%;height:100%;"
                                src="{% if all_applied.photo %}{{ all_applied.photo.url }}{% else %}{% static 'ftp/images/usericon.png' %}{% endif %}"
                                alt="">
                            </div>
                        </div>
                        <div class="col-md-9 tit-det">
                            <h2>{{all_applied.fullname}}</h2>
                            <p style="visibility:hidden; height: 10px;">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries,text ever since the 1500s, when an unknown printer took
                                a galley of type and scrambled it to make a type specimen book. It has survived not only
                                five centuries,
                            </p>
                            <p class="style1"><b>Roll Number</b> : {{all_applied.rollno}}</p>
                                <p class="style1"><b>Department</b> : {{all_applied.department}}</p>
                                <p class="style1"><b>Year of study</b> : {{all_applied.year}}</p>
                                <p class="style1"><b>CGPA</b> : {{all_applied.cgpa}}</p>

                        </div>
                    </div>
                </div>
            </div>
            
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                        aria-controls="home" aria-selected="false">S.O.P</a>
                </li>
{% comment %} 
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#resume" role="tab"
                        aria-controls="profile" aria-selected="false">S.O.P</a>
                </li> {% endcomment %}

                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                        aria-controls="profile" aria-selected="true" selected style="visibility :hidden;">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" onclick="window.open('{{ pro.profile.cv.url }}','_blank')" role="tab"
                        aria-controls="profile" aria-selected="true" selected ><i class="fas fa-paper-plane"></i> Curriculum Vitae</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" onclick="window.open('{{ pro.profile.transcript.url }}','_blank')" role="tab"
                        aria-controls="profile" aria-selected="true" selected ><i class="fas fa-paper-plane"></i> Grade Card</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row no-margin home-det">
                        <div class="col-md-12 big-img">


                            <div class="sec-title">
                                <h2>Statement Of Purpose</h2>
                            </div>
                            <div class="service no-margin row">
                               
                                <div class="col-sm-12 rgbf">
                                    <p>{{pro.sop}}</p>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-0 home-dat">
                            <div class="links">
                                <div class="row ">
                                    <div class="col-xl-6 col-md-12">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade exp-cover" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="data-box">
                        <div class="sec-title">
                            <h2>My Profile</h2>
                        </div>
                        <div class="row exp-row">
                            <h6>Business Development</h6>
                            <span>Microsoft</span>
                            <i>Apiral 2011 - Present</i>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a urna posuere, aliquet
                                elit in, fermentum ligula. Sed est augue, molestie sed tortor sed, posuere commodo
                                lectus.</p>
                        </div>
                        <div class="row exp-row">
                            <h6>Business Development</h6>
                            <span>Microsoft</span>
                            <i>Apiral 2011 - Present</i>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a urna posuere, aliquet
                                elit in, fermentum ligula. Sed est augue, molestie sed tortor sed, posuere commodo
                                lectus.</p>
                        </div>
                        <div class="row exp-row last">
                            <h6>Business Development</h6>
                            <span>Microsoft</span>
                            <i>Apiral 2011 - Present</i>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a urna posuere, aliquet
                                elit in, fermentum ligula. Sed est augue, molestie sed tortor sed, posuere commodo
                                lectus.</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade exp-cover" id="resume" role="tabpanel" aria-labelledby="contact-tab">
                    <div class="sec-title">
                        <h2>Statement Of Purpose</h2>
                    </div>
                    <div class="service no-margin row">
                       
                        <div class="col-sm-12 rgbf">
                            <p>{{pro.sop}}</p>
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade gallcoo" id="gallery" role="tabpanel" aria-labelledby="contact-tab">
                    <div class="row no-margin gallery">
                        <div class="col-sm-4">
                            <img src="{% static 'assets/images/gallery/gallery_01.jpg' %}" alt="">
                        </div>
                        <div class="col-sm-4">
                            <img src="{% static 'assets/images/gallery/gallery_02.jpg' %}" alt="">
                        </div>
                        <div class="col-sm-4">
                            <img src="{% static 'assets/images/gallery/gallery_03.jpg' %}" alt="">
                        </div>
                        <div class="col-sm-4">
                            <img src="{% static 'assets/images/gallery/gallery_04.jpg' %}" alt="">
                        </div>
                        <div class="col-sm-4">
                            <img src="{% static 'assets/images/gallery/gallery_05.jpg' %}" alt="">
                        </div>
                        <div class="col-sm-4">
                            <img src="{% static 'assets/images/gallery/gallery_06.jpg' %}" alt="">
                        </div>
                        <div class="col-sm-4">
                            <img src="{% static 'assets/images/gallery/gallery_10.jpg' %}" alt="">
                        </div>
                        <div class="col-sm-4">
                            <img src="{% static 'assets/images/gallery/gallery_08.jpg' %}" alt="">
                        </div>
                        <div class="col-sm-4">
                            <img src="{% static 'assets/images/gallery/gallery_09.jpg' %}" alt="">
                        </div>

                    </div>
                </div>
                <div class="tab-pane fade contact-tab" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <div class="row no-margin">
                        <div class="col-md-6 no-padding">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3176144.0450019627!2d-107.79423426090409!3d38.97644533805396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874014749b1856b7%3A0xc75483314990a7ff!2sColorado%2C+USA!5e0!3m2!1sen!2sin!4v1547222354537"
                                frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                        <div class="col-md-6">
                            <div class="row cont-row no-margin">
                                <div class="col-sm-6">
                                    <input placeholder="Enter Full Name" type="text"
                                        class="form-control form-control-sm">
                                </div>
                                <div class="col-sm-6">
                                    <input placeholder="Enter Email Address" type="text"
                                        class="form-control form-control-sm">
                                </div>
                            </div>
                            <div class="row cont-row no-margin">
                                <div class="col-sm-6">
                                    <input placeholder="Enter Mobile Number" type="text"
                                        class="form-control form-control-sm">
                                </div>

                            </div>
                            <div class="row cont-row no-margin">
                                <div class="col-sm-12">
                                    <textarea placeholder="Enter your Message" class="form-control form-control-sm"
                                        rows="10"></textarea>
                                </div>

                            </div>
                            <div class="row cont-row no-margin">
                                <div class="col-sm-6">
                                    <button class="btn btn-sm btn-primary">Send Message</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/script.js' %}"></script>


</html>