{% extends 'ftp/admin_base.html' %}
{% load staticfiles %}
{% block title %}Admin | Applications | FTP | International Relations Cell{% endblock %}
{% block css %}
    <style>
        .pdet{
            margin-top: 25px;
        }
        .bookmarked{
            color: #171b2e !important;
        }
        .button {
            border-radius-right: 24px;

            border: none;
            color: rgb(0,0,0);
            text-align: center;
            font-size: 28px;
            padding: 10px;
            width: 200px;
            transition: all 0.5s;
            cursor: pointer;

        }

        .button span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

        .button span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

        .button:hover span {
            padding-right: 25px;
            background-color: red;
        }

        .button:hover span:after {
            opacity: 1;
            right: 0;
        }

        .btn-success {
            color: #f89a30;
            background-color: #f8f9fc;
            border-color: #f8f9fc;
        }
        .btn-success:hover{
            background-color: #dde2f1 !important;
            border-color: white;
        }
        .animate-bottom {
            position: relative;
            -webkit-animation-name: animatebottom;
            -webkit-animation-duration: 1s;
            animation-name: animatebottom;
            animation-duration: 1s
        }
        @-webkit-keyframes animatebottom {
            from { bottom:-100px; opacity:0 }
            to { bottom:0px; opacity:1 }
        }

        @keyframes animatebottom {
            from{ bottom:-100px; opacity:0 }
            to{ bottom:0; opacity:1 }
        }

        .btn-lg, .btn-group-lg > .btn {
            padding: 0.5rem 0;
        }

        .applybutton {
            background-color: #f89a30 !important;
            color: white !important;
            transition: none !important;
            -webkit-appearance: none !important;
        }

        .applybutton:hover {
            background-color: #f89a30 !important;
        }

        .btn:active {
            outline: none !important;
        }

        .deadl {
            display: none;
        }

        @media (max-width: 767px) {
            .deadl {
                display: contents;
            }
        }

    </style>

    <meta name="viewport" content="width=device-width, initial-scale=1">

{% endblock %}

{% block content %}

    <div id="myDiv">

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Content Row -->
            <div class="row">

                <!-- Content Column -->
                <div class="col-xl-12 my-4" style="text-align: center">

                        <h3 style="font-weight: bold; color: #242e5b;">APPLICATIONS</h3>
                <div class="row justify-content-center">
                    <button class="btn btn-success m-2"><a href="">Add new project</a></button>
                    <!--<button class="btn btn-success m-2"><a>Export</a></button>-->
{#                      <form class="form-control" method="post" enctype="multipart/form-data">#}
{#                        {% csrf_token %}#}
{#                        <input type="file" name="myfile">#}
{#                        <button class="btn btn-success" type="submit">Import</button>#}
{#                      </form>#}
                </div>


                        {% for p in allapplications %}
                            
                                <div class="row" style="width: 95%; margin-left: 2.5%;">
                                    <div class="col-xl-12 my-4">
                                        <div class="card bg-primary text-black shadow">
                                            <div class="btn-group ">
                                                <button class="btn btn-success bookmark" id="book{{ p.id }}"><i class="
                                                {% if p.display %}
                                                    fas
                                                {% else %}
                                                    far
                                                {% endif %}
                                                 fa-bookmark" aria-hidden="true" id="i{{ p.id }}" style="color: #f89a30"></i></button>
                                                <button type="button" class="btn btn-light btn-lg btn-block" data-toggle="collapse" data-target="#c{{ p.id }}">
                                                    <div class="card-body">
                                                        <div class="container-fluid" style="padding-left: 0; padding-right: 0;">
                                                            <div class="row">
                                                                <div class="col-md-4">{{p.project.project_name}}</div>
                                                                <div class="col-md-4" style="font-style: italic;">{{p.profile.full_name}}</div>
                                                                <div class="col-md-2"><span class="deadl">Department: </span>{{p.profile.deparmtment}}</div>
                                                                <div class="col-md-2 ">
                                                                        
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <div id="c{{ p.id }}" class="collapse">
                                                            <hr>
                                                            <h5 style="margin: 20px auto;">Project Details </h5>
                                                            <p>{{p.project_detail}}</p>
                                                            <br><br>
                                                            <hr>
                                                            
                                                            <div type="button" class="btn btn-success applybutton" data-toggle="modal" data-target="#myModal{{p.id}}">View</div>
                                                            <a  href="{% url 'ftp:admin_projects_delete' pk=p.id%}" class="btn btn-danger m-1" onclick="deleteproject()">delete</a>
                                                            <a  href="{% url 'ftp:admin_projects_edit' pk=p.id %}" class="btn btn-primary m-1">edit</a>
                                                        </div>
                                                    </div>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal fade" id="myModal{{p.id}}">
                                    <div class="modal-dialog modal-lg" >
                                        <div class="modal-content">
                                            <!-- Modal Header -->
                                            <!--                    <div class="modal-header" style="text-align: center">-->
                                            <!--                        <h3 class='col-12 modal-title text-center'><b>APPLY PROJECT</b></h3>-->
                                            <!--                    </div>-->

                                            <!-- Modal body -->
                                            <div class="modal-body">
                                                <h3 style="font-weight: bold; margin-bottom: 15px;">{{p.project_name}}</h3>
                                                <h4 style="font-style: italic; font-size: 1.5rem; font-weight: bold; margin-bottom: 25px;">{{p.university}}</h4>
                                                <h4 style="color: red">Deadline: {{p.deadline}}</h4>
                                                <h4 style="font-weight: bold; margin-top: 20px;">Project Details</h4>
                                                <p>{{p.project_detail|linebreaks}}</p>
                                                <hr>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            
                         {% endfor %}
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
{% endblock %}

{% block js %}
    <script>

        
        
        function copylink() {
          var copyText = document.getElementById("myInput");
          copyText.select();
          copyText.setSelectionRange(0, 99999);
          document.execCommand("copy");
          alert("Copied the text: " + copyText.value);
        }

        function deleteproject() {
            alert("Project deleted");
            console.log('Deleted')
        }
    </script>
{% endblock %}