{% extends 'ftp/admin_base.html' %}
{% load staticfiles %}
{% block title %}Profiles | FTP | International Relations Cell{% endblock %}
{% block css %}

    <meta name="viewport" content="width=device-width, initial-scale=1">

{% endblock %}

{% block content %}

    <div id="myDiv">

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Content Row -->
            <div class="row">

                <!-- Content Column -->
                <div class="col-xl-12 my-4" style="text-align: center">
                  <h3 style="font-weight: bold; color: #242e5b;">CREATE NEW SCHOLARSHIP</h3>
                  <br><hr>
                         <form action="{% url 'ftp:admin_scholarships_create' %}" method="post" enctype="multipart/form-data">
                           {% csrf_token %}
                              <div class="row">
                                    {% if errors %}
                                        {% for field in form %}
                                            {% for error in field.errors %}
                                                <div class="alert alert-danger">
                                                    <strong>{{ error|escape }}</strong>
                                                </div>
                                            {% endfor %}
                                        {% endfor %}
                                        {% for error in form.non_field_errors %}
                                            <div class="alert alert-danger">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>


                          <div class="form-group row">
                              <label for="funding" class="col-sm-3 col-form-label">Funding Agency :</label>
                              <div class="col-sm-8">
                                  <input class="form-control" type="text" name="funding_agency" value="{{form.funding_agency.value}}" required>
                              </div>
                          </div>
                          
                          <div class="form-group row">
                              <label for="amount" class="col-sm-3 col-form-label">Amount :</label>
                              <div class="col-sm-8">
                                  <input class="form-control" type="text" name="amount" value="{{form.amount.value}}" required>
                              </div>
                          </div>

                          <div class="form-group row">
                              <label for="scholarship_name" class="col-sm-3 col-form-label">Scholarship Name :</label>
                              <div class="col-sm-8">
                                  <input class="form-control" type="text" name="scholarship_name" value="{{form.scholarship_name.value}}" required>
                              </div>
                          </div>

                          <div class="form-group row">
                              <label for="scholarship_detail" class="col-sm-3 col-form-label">Scholarship Detail :</label>
                              <div class="col-sm-8">
                                  <textarea class="form-control" type="text" name="scholarship_detail" rows="10" required>{{form.scholarship_detail.value}}</textarea>
                              </div>
                          </div>

                          <div class="form-group row">
                              <label for="display" class="col-sm-3 col-form-label">Display :</label>
                              <div class="col-sm-8">
                                  <input class="form-control" type="checkbox" name="display" style="float: left; height: 20px; width: 20px; margin-top: 5px;" {% if form.display.value %}checked{% endif %} >
                              </div>
                          </div>

                          <div class="form-group row">
                              <label for="deadline" class="col-sm-3 col-form-label">Deadline :</label>
                              <div class="col-sm-8">
                                  <input class="form-control" type="date" name="deadline" value="{{form.deadline.value}}" required>
                              </div>
                          </div>

                          <hr>

                            <button type="submit" class="btn btn-primary">Submit</button>
                          </form>

                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
{% endblock content %}