{% extends 'ftp/admin_base.html' %}
{% load staticfiles %}
{% block title %}Admin | Applications | FTP | International Relations Cell{% endblock %}
{% block css %}
    <style>
        .pdet{
            margin-top: 25px;
        }
        .bookmarked{
            color: #171b2e !important;
        }
        .button {
            border-radius-right: 24px;

            border: none;
            color: rgb(0,0,0);
            text-align: center;
            font-size: 28px;
            padding: 10px;
            width: 200px;
            transition: all 0.5s;
            cursor: pointer;

        }

        .button span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

        .button span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

        .button:hover span {
            padding-right: 25px;
            background-color: red;
        }

        .button:hover span:after {
            opacity: 1;
            right: 0;
        }

        .btn-success {
            color: #f89a30;
            background-color: #f8f9fc;
            border-color: #f8f9fc;
        }
        .btn-success:hover{
            background-color: #dde2f1 !important;
            border-color: white;
        }
        .sort-list:hover{
            padding:5px 20px;
            cursor:pointer;
            border:1px solid blue;
            border-radius:3px;
            margin:2px;
        }
        .animate-bottom {
            position: relative;
            -webkit-animation-name: animatebottom;
            -webkit-animation-duration: 1s;
            animation-name: animatebottom;
            animation-duration: 1s
        }
        @-webkit-keyframes animatebottom {
            from { bottom:-100px; opacity:0 }
            to { bottom:0px; opacity:1 }
        }

        @keyframes animatebottom {
            from{ bottom:-100px; opacity:0 }
            to{ bottom:0; opacity:1 }
        }

        .btn-lg, .btn-group-lg > .btn {
            padding: 0.5rem 0;
        }

        .applybutton {
            background-color: #f89a30 !important;
            color: white !important;
            transition: none !important;
            -webkit-appearance: none !important;
        }

        .applybutton:hover {
            background-color: #f89a30 !important;
        }

        .btn:active {
            outline: none !important;
        }

        .deadl {
            display: none;
        }

        @media (max-width: 767px) {
            .deadl {
                display: contents;
            }
        }

    </style>

    <meta name="viewport" content="width=device-width, initial-scale=1">

{% endblock %}

{% block content %}

    <div id="myDiv">

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Content Row -->
            <div class="row">
                
                <!-- Content Column -->
                <div class="col-xl-12 my-4" style="text-align: center">

                        <h3 style="font-weight: bold; color: #242e5b;">PROFILES</h3>
                    {% for message in messages %}
                      <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                      </div>
                    {% endfor %}
                </div>
                    {% comment %} {% if search_counts %}
                     <div>
                         <p class="lead">{{ search_counts }} results found</p>
                      </div>
                    {%endif%} {% endcomment %}
                    {% comment %} {% if empty_search %}
                    <div >
                        <h2 class="mt-4">{{ empty_search }}</h2>
                      </div>
                    {%endif%} {% endcomment %}
                        {% for p in app %}
                            
                                <div class="row" style="width: 95%; margin-left: 2.5%;">
                                    <div class="col-xl-12 my-4">
                                        <div class="card bg-primary text-black shadow">
                                            <div class="btn-group ">
                                                <button class="btn btn-success bookmark" id="book{{ p.profile.username.id }}"><i class="
                                                {% if p.profile.username.is_irc %}
                                                    fas
                                                {% else %}
                                                    far
                                                {% endif %}
                                                 fa-circle" aria-hidden="true" id="i{{ p.profile.username.id }}" style="color: #f89a30"></i></button>
                                                <button class="btn btn-light btn-lg btn-block" type="button" data-toggle="collapse" data-target="#c{{p.id}}" aria-expanded="false">
                                                    <div class="card-body">
                                                        <div class="container-fluid" style="padding-left: 0; padding-right: 0;">
                                                            <div class="row">
                                                                <div class="col-md-6">{{p.profile.fullname}}</div>
                                                                <div class="col-md-4" style="font-style: italic;">{{p.profile.department}}</div>
                                                                <div class="col-md-2">{{p.profile.rollno}}</div>
                                                            </div>
                                                        </div>
                                                        <div id="c{{p.id}}" class="collapse">
                                                            <hr>
                                                            <h5 style="margin: 20px auto;">Scholarship Details</h5>
                                                            <p>Name of Faculty Advisor: {{p.NameofFacultyAdvisor}}</p>
                                                            <p>Name of HOD: {{p.NameofHOD}}</p>
                                                            <p>Name of Host Institution: {{p.Nameofhostinstitution}}</p>
                                                            <p>Details of The Proposed Research or professional Internship: {{p.DetailsofTheProposedResearch_or_professionalInternship}}</p>
                                                            <hr>
                                                            <h5 style="margin: 20px auto;">Applied Projects</h5>
                                                            {%for app in p.project.all%}
                                                            <li>{{app.project_name}} || {{app.professor_name}}</li>
                                                            {%endfor%}
                                                            
                                                            <br><br>
                                                            <!--<div type="button" class="btn btn-success applybutton" data-toggle="modal" data-target="#myModal{{p.id}}">View</div>-->
                                                            <a href="{% url 'ftp:admin_profiles_edit' pk=p.id %}" class="btn btn-primary m-1">edit</a>
                                                            {% comment %}<a class="btn btn-danger delete" id="delt{{p.id}}" >Delete</a>{% endcomment %}
                                                        </div>
                                                    </div>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal fade" id="myModal{{p.id}}">
                                    <div class="modal-dialog modal-lg" >
                                        <div class="modal-content">
                                
                                            <!-- Modal body -->
                                            <div class="modal-body">
                                                <h3 style="font-weight: bold; margin-bottom: 15px;">Year: {{p.year}}</h3>
                                                <h4 style="font-style: italic; font-size: 1.5rem; font-weight: bold; margin-bottom: 25px;">Contact: {{p.contact}}</h4>
                                                <h4 style="color: red">Skype: {{p.skype}}</h4>
                                                <!--<h4 style="font-weight: bold; margin-top: 20px;">Project Details</h4>-->
                                                <p>CGPA: {{p.cgpa|linebreaks}}</p>
                                            </div>

                                            <div class="modal-body">
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                        {% endfor %}
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
{% endblock %}

{% block js %}
    <script>
        
        $('.bookmark').click(function () {
            var id = this.id;
            var pid =id.slice(4,);
            $.ajax({
                type: "GET",
                url: "{% url 'ftp:give_access' %}",
                data: {
                    'pid': pid,
                },
                dataType: 'json',
                success: function (data) {
                    if (data.fb) {
                        var ele = document.getElementById("i"+pid);
                        if (ele.classList.contains("far")) {
                            $("#i"+pid).removeClass("far");
                            $("#i"+pid).addClass("fas");
                        }
                        else {
                            $("#i"+pid).removeClass("fas");
                            $("#i"+pid).addClass("far");
                        }
                    }
                }
            });
        });

        {% comment %}
        $('.delete').click(function () {
            var id = this.id;
            var pid = id.slice(4,);
            var r = confirm('Are you sure?');
            if (r == true)
            {
                console.log('Deleted');
                window.location.href = "delete/" + pid;
            }

        });
        {% endcomment %}

    </script>
{% endblock %}