
    <meta name="viewport" content="width=device-width, initial-scale=1">

<div class="modal-body">

  <p class="question"><span><i class=" fa fa-plus" onclick="my(this,0)"aria-hidden="true"></i></span> Q1)Some text in the Modal Body</p>
  <p class="answer">A1)Some other text...</p>

  <p class="question"><span><i class=" fa fa-plus" onclick="my(this,1)"aria-hidden="true"></i></span> Q2)Some text in the Modal Body</p>
  <p class="answer">A2)Some other text...</p>
  <p class="question"><span><i class=" fa fa-plus" onclick="my(this,2)"aria-hidden="true"></i></span>
  Q3)Some text in the Modal Body</p>
  <p class="answer">A3)Some other text...</p>
  <p class="question"><span><i class=" fa fa-plus" onclick="my(this,3)"aria-hidden="true"></i></span>
  Q4)Some text in the Modal Body</p>
  <p class="answer">A4)Some other text...</p>
  <p class="question"><span><i class=" fa fa-plus" onclick="my(this,4)"aria-hidden="true"></i></span>
  Q4)Some text in the Modal Body</p>
  <p class="answer">A4)Some other text...</p>
  <p class="question"><span><i class=" fa fa-plus" onclick="my(this,5)"aria-hidden="true"></i></span>
  Q4)Some text in the Modal Body</p>
  <p class="answer">A4)Some other text...</p>
  <p align="right" style="color:rgb(0,0,255); cursor:pointer;"><a href="#" style="text-decoration:none;"> more doubts....</a></p>

</div>
<br>
<hr>
<div>
  <form action="{% url 'ftp:faq' %}" method="post">
    {% csrf_token %}
      <label for="feedback">Feedback: </label>
      <input id="your_name" type="textarea" name="feedback" >
      <input type="submit" value="OK">
  </form>

  </div>
