{% extends 'ftp/admin_base.html' %}
{% load staticfiles %}
{% block title %}Projects | FTP | International Relations Cell{% endblock %}
{% block css %}

<meta name="viewport" content="width=device-width, initial-scale=1">

{% endblock %}

{% block content %}

<div id="myDiv">

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Content Row -->
        <div class="row">

            <!-- Content Column -->
            <div class="col-xl-12 my-4" style="text-align: center">
                <h3 style="font-weight: bold; color: #242e5b;">CREATE NEW PROJECT</h3>
                <br><br>
                <hr>
                <form method="post" action="{% url 'ftp:admin_projects_create' %}" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="row">
                        {% if errors %}
                        {% for field in form %}
                        {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                        {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>

                    <div class="row">
                        {% if errors %}
                        {% for field in form %}
                        {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                        {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>

                    <div class="form-group row">
                        <label for="profname" class="col-sm-3 col-form-label">Professor Name :</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" name="professor_name"
                                value="{% if project.professor_name is not None %}{{project.professor_name}}{% endif %}"
                                required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="university" class="col-sm-3 col-form-label">University :</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" name="university"
                                value="{% if project.university is not None %}{{project.university}}{% endif %}"
                                required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="projname" class="col-sm-3 col-form-label">Project Name :</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" name="project_name"
                                value="{% if project.project_name is not None %}{{project.project_name}}{% endif %}"
                                required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="projdetail" class="col-sm-3 col-form-label">Project Detail :</label>
                        <div class="col-sm-8">
                            <textarea name="project_detail"
                                style="width: 100%; height: 200px;">{% if project.project_detail is not None %}{{project.project_detail}}{% endif %}</textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="projimage" class="col-sm-3 col-form-label">Project Image :</label>
                        <div class="col-sm-8">
                            <input type="file" name="project_image" required />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="project_mode" class="col-sm-3 col-form-label">Project Mode :</label>
                        <div class="col-sm-8">

                            <select name="project_mode">
                                <option value="On-site">On-site</option>
                                <option value="Remote" default>Remote</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="form.tags" class="col-sm-3 col-form-label">Project Tag :</label>
                        <div class="col-sm-8">

                            <select name="form.tags" multiple>

                                {%for pa in tags %}
                                <option value={{pa.id}}>{{pa}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <style>
                            .fa-plus:before {
                                font-size: 30px;
                                position: relative;
                                left: -320px;
                                top: 20px;
                                margin-left: 10px;
                                content: "\f067";
                            }
                        </style>
                        <a href="{% url 'ftp:admin_project_tag' %}" class="fa fa-plus" aria-hidden="true"></a>
                    </div>

                    <div class="form-group row" style="margin-left:12%">

                    </div>
                    <!--<div class="form-group row">
                            <label for="prerequisites" class="col-sm-3 col-form-label">Prerequisites:</label>
                            <div class="col-sm-8" style="display: flex">
                                <select class="form-control" name="prerequisite" id="id_prerequisite">
                                    <option data-value="{{project.prerequisite.name}}" selected="">
                                        {% if project.prerequisite is not None %}
                                            {{project.prerequisite}}
                                        {% else %}
                                            ---------
                                        {% endif %}
                                    </option>
                                </select>
                                <a style="padding: 10px" id="change_id_prerequisite" data-href-template="/admin/ftp/prerequisite/__fk__/change/?_to_field=id&amp;_popup=1" title="Change selected pre requisite">
                                    <img src="/static/admin/img/icon-changelink.svg" alt="Change">
                                </a>
                                <a style="padding: 10px 0" class="related-widget-wrapper-link add-related" id="add_id_prerequisite" href="/admin/ftp/prerequisite/add/?_to_field=id&amp;_popup=1" title="Add another pre requisite">
                                    <img src="/static/admin/img/icon-addlink.svg" alt="Add">
                                </a>
                            </div>
                         </div>-->

                    <div class="form-group row">
                        <label for="projstip" class="col-sm-3 col-form-label">Stipend :</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" name="stipend"
                                value="{% if project.stipend is not None %}{{project.stipend}}{% endif %}" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="projstip" class="col-sm-3 col-form-label">Currency :</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" name="currency"
                                value="{% if project.currency is not None %}{{project.currency}}{% endif %}" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="projtime" class="col-sm-3 col-form-label">Project Time :</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" name="project_time"
                                value="{% if project.project_time is not None %}{{project.project_time}}{% endif %}"
                                required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="display" class="col-sm-3 col-form-label">Display :</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="checkbox" name="display"
                                style="float: left; height: 20px; width: 20px; margin-top: 5px;" {% if project.display is True %}checked{% endif %}>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="deadline" class="col-sm-3 col-form-label">Deadline :</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="date" name="deadline"
                                value="{% if project.deadline is not None %}{{project.deadline}}{% endif %}" required>
                        </div>
                    </div>

                    <hr>

                    <div class="form-group">
                        <h3 style="font-weight: bold; color: #242e5b;">Pre-Requisites</h3>
                    </div>

                    <div class="form-group row">
                        <label for="pg" class="col-sm-3 col-form-label">Name :</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" name="prereq_name"
                                value="{% if project.prerequisite.name is not None %}{{project.prerequisite.name}}{% endif %}"
                                required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="pg" class="col-sm-3 col-form-label">Detail :</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" name="prereq_detail"
                                value="{% if project.prerequisite.detail is not None %}{{project.prerequisite.detail}}{% endif %}"
                                required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="pg" class="col-sm-3 col-form-label">PG :</label>
                        <div class="col-sm-8">
                            <input class="form-control" name="prereq_pg" {% if project.prerequisite.pg %}checked{% endif %} type="checkbox" style="float: left; height: 20px; width: 20px; margin-top: 5px;">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="ug" class="col-sm-3 col-form-label">UG :</label>
                        <div class="col-sm-8">
                            <input class="form-control" name="prereq_ug" {% if project.prerequisite.ug %}checked{% endif %} type="checkbox" style="float: left; height: 20px; width: 20px; margin-top: 5px;">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="year" class="col-sm-3 col-form-label">Year :</label>
                        <div class="col-sm-1">
                            <input class="form-control" name="prereq_year"
                                value="{% if project.prerequisite.year is not None %}{{project.prerequisite.year}}{% endif %}"
                                type="text">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="department" class="col-sm-3 col-form-label">Departments (Dep code separated by
                            comma) :</label>
                        <div class="col-sm-8">
                            <input class="form-control" name="prereq_dep"
                                value="{% if project.prerequisite.department is not None %}{{project.prerequisite.department}}{% endif %}"
                                type="text">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
{% endblock content %}