{% extends 'ftp/admin_base.html' %}
{% load staticfiles %}
{% block title %}Admin | Scholarship | FTP | International Relations Cell{% endblock %}
{% block css %}
    <style>
        .pdet{
            margin-top: 25px;
        }
        .bookmarked{
            color: #171b2e !important;
        }
        .button {
            border-radius-right: 24px;

            border: none;
            color: rgb(0,0,0);
            text-align: center;
            font-size: 28px;
            padding: 10px;
            width: 200px;
            transition: all 0.5s;
            cursor: pointer;

        }

        .button span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

        .button span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

        .button:hover span {
            padding-right: 25px;
            background-color: red;
        }

        .button:hover span:after {
            opacity: 1;
            right: 0;
        }

        .btn-success {
            color: #f89a30;
            background-color: #f8f9fc;
            border-color: #f8f9fc;
        }
        .btn-success:hover{
            background-color: #dde2f1 !important;
            border-color: white;
        }
        .animate-bottom {
            position: relative;
            -webkit-animation-name: animatebottom;
            -webkit-animation-duration: 1s;
            animation-name: animatebottom;
            animation-duration: 1s
        }
        @-webkit-keyframes animatebottom {
            from { bottom:-100px; opacity:0 }
            to { bottom:0px; opacity:1 }
        }

        @keyframes animatebottom {
            from{ bottom:-100px; opacity:0 }
            to{ bottom:0; opacity:1 }
        }

        .btn-lg, .btn-group-lg > .btn {
            padding: 0.5rem 0;
        }

        .applybutton {
            background-color: #f89a30 !important;
            color: white !important;
            transition: none !important;
            -webkit-appearance: none !important;
        }

        .applybutton:hover {
            background-color: #f89a30 !important;
        }

        .btn:active {
            outline: none !important;
        }

        .deadl {
            display: none;
        }

        @media (max-width: 767px) {
            .deadl {
                display: contents;
            }
        }

    </style>

    <meta name="viewport" content="width=device-width, initial-scale=1">

{% endblock %}

{% block content %}

    <div id="myDiv">

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Content Row -->
            <div class="row">
                
                <!-- Content Column -->
                <div class="col-xl-12 my-4" style="text-align: center">

                        <h3 style="font-weight: bold; color: #242e5b;">Scholarships</h3>
                    {% for message in messages %}
                      <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                      </div>
                      
                    {% endfor %}
                    <button class="btn btn-success m-2"><a href="{% url 'ftp:scholarship_csv' %}" style="color:red;">Export Scholarship</a></button>

<!--                        <div class="row justify-content-center">-->
<!--                            <form class="form-inline" method="GET" action="{% url 'ftp:profile_search' %}">-->
<!--                                {% csrf_token %}-->
<!--                                <input class="form-control" type="text" name="search" placeholder="Search" />-->
<!--                                <button class="form-control btn-primary m-1 " type="submit">Search</button>-->
<!--                                <button class="btn form-control btn-success"><a href="{% url 'ftp:clear_search' %}">Clear search</a></button>-->
<!--                                <button class="btn form-control btn-success ml-4"><a href="{% url 'ftp:admin_profiles_create' %}">Create Profile</a></button>-->
<!--                                 <button class="btn form-control btn-success ml-2"><a href="{% url 'ftp:admin_profiles_export' %}">Export</a></button>-->


<!--                            </form>-->

<!--                </div>-->
<!--                    {% if search_counts %}-->
<!--                     <div>-->
<!--                         <p class="lead">{{ search_counts }} results found</p>-->
<!--                      </div>-->
<!--                    {%endif%}-->
<!--                    {% if empty_search %}-->
<!--                    <div >-->


<!--                        <h2 class="mt-4">{{ empty_search }}</h2>-->
<!--                      </div>-->
<!--                    {%endif%}-->
                        {% for p in scholarship %}
                            
                                <div class="row" style="width: 95%; margin-left: 2.5%;">
                                    <div class="col-xl-12 my-4">
                                        <div class="card bg-primary text-black shadow">
                                            <div class="btn-group ">
<!--                                                <button class="btn btn-success bookmark" id="book{{ p.id }}"><i class="-->
<!--                                                {% if p.username.is_irc %}-->
<!--                                                    fas-->
<!--                                                {% else %}-->
<!--                                                    far-->
<!--                                                {% endif %}-->
<!--                                                 fa-circle" aria-hidden="true" id="i{{ p.username.id }}" style="color: #f89a30"></i></button>-->
                                                <button class="btn btn-light btn-lg btn-block" type="button" data-toggle="collapse" data-target="#c{{p.0.id}}" aria-expanded="false">
                                                    <div class="card-body">
                                                        <div class="container-fluid" style="padding-left: 0; padding-right: 0;">
                                                            <div class="row">
                                                                <div class="col-md-6">{{p.0.scholarship_name}}</div>
                                                                <div class="col-md-4" style="font-style: italic;">{{p.0.funding_agency}}</div>
                                                                <div class="col-md-2">{{p.0.deadline}}</div>
                                                            </div>
                                                        </div>
                                                        <div id="c{{p.0.id}}" class="collapse">
<!--                                                            <hr>-->
<!--                                                            <h5 style="margin: 20px auto;">Applied students</h5>-->
<!--                                                            <p>Year: {{p.bookmarks}}</p>-->
<!--                                                            <p>Contact: {{p.profile.name}}</p>-->
<!--                                                            <p>Skype: {{p.skype}}</p>-->
<!--                                                            <p>CGPA: {{p.cgpa}}</p>-->
                                                            <hr>
                                                            
                                                            <h5 style="margin: 20px auto;">Applied Students</h5>
                                                            {% for each in p.1 %}
                                                                 {{each.name}} || {{each.roll}} <br>
                                                            {%endfor%}

                                                            
                                                            <br><br>
                                                            
                                                            <div type="button" class="btn btn-success applybutton" data-toggle="modal" data-target="#myModal{{p.0.id}}">View</div>
                                                            <a href="{% url 'ftp:admin_profiles_edit' pk=p.0.id %}" class="btn btn-primary m-1">edit</a>
                                                            {% comment %}<a class="btn btn-danger delete" id="delt{{p.0.id}}" >Delete</a>{% endcomment %}
                                                        </div>
                                                    </div>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal fade" id="myModal{{p.0.id}}">
                                    <div class="modal-dialog modal-lg" >
                                        <div class="modal-content">
                                
                                            <!-- Modal body -->
                                            <!-- <div class="modal-body">
                                                <h3 style="font-weight: bold; margin-bottom: 15px;">Year: {{p.year}}</h3>
                                                <h4 style="font-style: italic; font-size: 1.5rem; font-weight: bold; margin-bottom: 25px;">Contact: {{p.contact}}</h4>
                                                <h4 style="color: red">Skype: {{p.skype}}</h4>
                                                <h4 style="font-weight: bold; margin-top: 20px;">Project Details</h4>
                                                <p>CGPA: {{p.cgpa|linebreaks}}</p>
                                            </div> -->
                                            
                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            {% for apps in p.1 %}
                                                <div class="row" style="width: 80%; height: fit-content; background-color: #fffdd0; text-color: white; margin: auto; border-radius: 5px;">
                                                    <div class="col-md-6 text-center" style="margin: auto;">
                                                        {{apps.profile.fullname}}
                                                    </div>
                                                    <div class="col-md-6 text-center" style="margin: auto;">
                                                        {{apps.profile.department}}
                                                    </div>
                                                    <div class="col-md-4">
                                                        <button class="btn btn-success prof_display" id="appli{{ apps.id }}"><i class="
                                                            {% if apps.display_prof %}
                                                                fas
                                                            {% else %}
                                                                far
                                                            {% endif %}
                                                            fa-circle" aria-hidden="true" id="a{{ apps.id }}" style="color: #f89a30"></i></button>
                                                    </div>
                                                    <div class="col-md-4 text-center" style="padding:30px 0 10px 0;">
                                                        {% comment %}<button onclick="window.location.href='?aid={{apps.id}}'" class="btn btn-success applybutton">Delete</button>{% endcomment %}
                                                        <button class="btn btn-success applybutton" onclick="window.open('/ftp/dashboard_scholarship/applicants?aid={{apps.id}}', '_blank') " >View Profile</button>
                                                        <!-- <button class="btn btn-success applybutton" onclick="window.open('/ftp/dashboard_projects/mail?aid={{apps.id}}', '_blank')">Send Email</button> -->

                                                    </div>
                                                    <div class="col-md-4"></div>
                                                </div>
                                                <hr>
                                            {% endfor %}
                                        </div>
                                          



                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                        {% endfor %}
                        <h3 style="text-align:center; font-weight: bold; color: #242e5b;">GKF Scholarship</h3>

                        <div class="row" style="width: 95%; margin-left: 2.5%;">
                            <div class="col-xl-12 my-4">
                                <div class="card bg-primary text-black shadow">
                                    <div class="btn-group ">
<!--                                                <button class="btn btn-success bookmark" id="book{{ p.id }}"><i class="-->
<!--                                                {% if p.username.is_irc %}-->
<!--                                                    fas-->
<!--                                                {% else %}-->
<!--                                                    far-->
<!--                                                {% endif %}-->
<!--                                                 fa-circle" aria-hidden="true" id="i{{ p.username.id }}" style="color: #f89a30"></i></button>-->
                                        <button class="btn btn-light btn-lg btn-block" type="button" data-toggle="collapse" data-target="#c{{p.0.id}}" aria-expanded="false">
                                            <div class="card-body">
                                                <div class="container-fluid" style="padding-left: 0; padding-right: 0;">
                                                    <div class="row">
                                                        <div class="col-md-6">GKF</div>
                                                        <div class="col-md-4" style="font-style: italic;">IIT Kharagpur Foundation (IITKGF)</div>
                                                        <div class="col-md-2">20th April 2022</div>
                                                    </div>
                                                </div>
                                                <div id="c{{p.0.id}}" class="collapse">
<!--                                                            <hr>-->
<!--                                                            <h5 style="margin: 20px auto;">Applied students</h5>-->
<!--                                                            <p>Year: {{p.bookmarks}}</p>-->
<!--                                                            <p>Contact: {{p.profile.name}}</p>-->
<!--                                                            <p>Skype: {{p.skype}}</p>-->
<!--                                                            <p>CGPA: {{p.cgpa}}</p>-->
                                                    <hr>
                                                    
                                                    <h5 style="margin: 20px auto;">Applied Students</h5>
                                                    {% for each in gkf %}
                                                         {{each.name}} || {{each.roll}} <br>
                                                    {%endfor%}

                                                    
                                                    <br><br>
                                                    
                                                    <div type="button" class="btn btn-success applybutton" data-toggle="modal" data-target="#myModal{{p.0.id}}">View</div>
                                                    {% comment %}<a class="btn btn-danger delete" id="delt{{p.0.id}}" >Delete</a>{% endcomment %}
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="myModal{{p.0.id}}">
                            <div class="modal-dialog modal-lg" >
                                <div class="modal-content">
                        
                                    <!-- Modal body -->
                                    <!-- <div class="modal-body">
                                        <h3 style="font-weight: bold; margin-bottom: 15px;">Year: {{p.year}}</h3>
                                        <h4 style="font-style: italic; font-size: 1.5rem; font-weight: bold; margin-bottom: 25px;">Contact: {{p.contact}}</h4>
                                        <h4 style="color: red">Skype: {{p.skype}}</h4>
                                        <h4 style="font-weight: bold; margin-top: 20px;">Project Details</h4>
                                        <p>CGPA: {{p.cgpa|linebreaks}}</p>
                                    </div> -->
                                    
                                <!-- Modal body -->
                                <div class="modal-body">
                                    {% for apps in gkf %}
                                        <div class="row" style="width: 80%; height: fit-content; background-color: #fffdd0; text-color: white; margin: auto; border-radius: 5px;">
                                            <div class="col-md-6 text-center" style="margin: auto;">
                                                {{apps.name}}
                                            </div>
                                            <div class="col-md-6 text-center" style="margin: auto;">
                                                {{apps.department}}
                                            </div>
                                            <div class="col-md-4">
                                                <button class="btn btn-success prof_display" id="appli{{ apps.id }}"><i class="
                                                    {% if apps.display_prof %}
                                                        fas
                                                    {% else %}
                                                        far
                                                    {% endif %}
                                                    fa-circle" aria-hidden="true" id="a{{ apps.id }}" style="color: #f89a30"></i></button>
                                            </div>
                                            <div class="col-md-4 text-center" style="padding:30px 0 10px 0;">
                                                {% comment %}<button onclick="window.location.href='?aid={{apps.id}}'" class="btn btn-success applybutton">Delete</button>{% endcomment %}
                                                <button class="btn btn-success applybutton" onclick="window.open('/ftp/dashboard_scholarship/gkf_applicants?aid={{apps.id}}', '_blank') " >View Profile</button>
                                                <!-- <button class="btn btn-success applybutton" onclick="window.open('/ftp/dashboard_projects/mail?aid={{apps.id}}', '_blank')">Send Email</button> -->

                                            </div>
                                            <div class="col-md-4"></div>
                                        </div>
                                        <hr>
                                        {% endfor %}
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
{% endblock %}

{% block js %}
    <script>
        
        $('.bookmark').click(function () {
            var id = this.id;
            var pid =id.slice(4,);
            $.ajax({
                type: "GET",
                url: "{% url 'ftp:give_access' %}",
                data: {
                    'pid': pid,
                },
                dataType: 'json',
                success: function (data) {
                    if (data.fb) {
                        var ele = document.getElementById("i"+pid);
                        if (ele.classList.contains("far")) {
                            $("#i"+pid).removeClass("far");
                            $("#i"+pid).addClass("fas");
                        }
                        else {
                            $("#i"+pid).removeClass("fas");
                            $("#i"+pid).addClass("far");
                        }
                    }
                }
            });
        });

        {% comment %}
        $('.delete').click(function () {
            var id = this.id;
            var pid = id.slice(4,);
            var r = confirm('Are you sure?');
            if (r == true)
            {
                console.log('Deleted');
                window.location.href = "delete/" + pid;
            }

        });
        {% endcomment %}

    </script>
{% endblock %}