{% extends 'ftp/ProjectsPage/projects_new.html' %} {% load static %} {% block title %}Apply | FTP | International Relations Cell{% endblock %} {% block heading %}Application Form{% endblock %} {% block main %}
<body
  class="blog theme-jobhunt kc-css-system woocommerce-js jobhunt-sticky-header-enabled blog-archive blog-grid full-width woocommerce-active wpjm-activated jobhunt"
>
   {% if p.display %}
  <div class="form_wrapper" style="margin: 2% auto 20px;">
    <div class="form_container">
      <div class="title_container">
        <h1 style="text-align: center; font-size: 40px">
          {{ p.project_name }}
        </h1>
        <h2 style="text-align: center">{{ p.university }}</h2>
      </div>
      <div class="row clearfix">
        <div class="">
          <form
            class="projectForm"
            id="projform"
            method="POST"
            enctype="multipart/form-data"
            action="{% url 'ftp:apply_project' project_id=p.id %}"
            onsubmit="if(!confirm('Are you sure you want to submit? You cannot change the details later.')){return false;}"
          >
            {% csrf_token %} {% if p.special %}
            <p style="margin-bottom: 0.5rem;">Letter Of Interest:</p>
            <textarea
              name="Loi"
              class="projectForm__ftpLOI"
              placeholder="A brief essay indicating your interest in the research project and your relevant background (500 words)"
              onkeyup="wordCountCheck(event)"
              style="min-height:150px;"
            ></textarea>
            {% endif %}
            <p style="margin-top: 2rem; margin-bottom: 0.5rem;">Statement Of Purpose:</p>
            <textarea
              class="projectForm__ftpSOP"
              type="text"
              placeholder="Write a statement of importance of the proposed research to your future in 250 words."
              onkeyup="wordCountCheck(event)"
              style="min-height:150px;"
              name="sop"
            ></textarea>
            {% if p.multi_domain %}
            <div class="projectForm__domain">
              <p style="margin-top: 2rem; margin-bottom: 0.5rem;">Select Project Domain Pref. 1</p>
              <select name="proj_domain1" class="form-group">
                {% for domain in proj_domains %} {% if domain.project == p %}
                <option style="text-align: center" value="{{ domain.name }}">
                  {{ domain.name }}
                </option>
                {% endif %} {% endfor %}
              </select>
            </div>
            <div class="projectForm__domain">
              <p style="margin-top: 2rem; margin-bottom: 0.5rem;">Select Project Domain Pref. 2</p>
              <select name="proj_domain2" class="form-group">
                {% for domain in proj_domains %} {% if domain.project == p %}
                <option style="text-align: center" value="{{ domain.name }}">
                  {{ domain.name }}
                </option>
                {% endif %} {% endfor %}
              </select>
            </div>
            <div class="projectForm__domain">
              <p style="margin-top: 2rem; margin-bottom: 0.5rem;">Select Project Domain Pref. 3</p>
              <select name="proj_domain3" class="form-group">
                {% for domain in proj_domains %} {% if domain.project == p %}
                <option style="text-align: center" value="{{ domain.name }}">
                  {{ domain.name }}
                </option>
                {% endif %} {% endfor %}
              </select>
            </div>
            {% endif %}
            <hr />
            <p>Apply with a different CV:</p>
            <input
              type="file"
              class="section__uploadFileInput"
              accept="application/pdf"
              onchange="changedFile(event)"
              name="ncv"
              style="margin-bottom:5px;"
            />
            <p>(optional)</p>
            <hr />
            
            <div style="text-align: center">
              <button
                class="projectForm__submitBtn projectForm__disabledBtn"
                onmouseenter="openWordCountAlert(event)"
                onclick="submitProjectForm(event, '')"
                onmouseleave="closeWordCountAlert(event)"
                onblur="closeWordCountAlert(event)"
                style="padding:5px 50px;"
              >
                Submit
              </button>
              <div class="projectForm__wordCountAlert" style="display: none; color: white; background-color: rgba(0, 0, 0, 0.8); padding: 10px 20px; width: 20%; border-radius: 5px; position: absolute; left: 50%; transform: translateX(-50%); bottom: 60px; transition: all 0.5s ease 0s;">
              <p style="margin-bottom: 10px">
                SOP word count: 0<br />LOI word count: 0
              </p>
              <p>
                SOP limit: 150-1250 words<br />{% if p.special %}LOI limit: 500
                words{% endif %}
              </p>
            </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</body>
{% endblock %} {% block js %}
<script>
  const openWordCountAlert = (e) => {
    const sop = document.getElementsByClassName("projectForm__ftpSOP")[0].value;
    {% comment %} console.log("foo"+sop+"foo"); {% endcomment %}
    var loi;
    var loi_el=document.querySelector(".projectForm__ftpLOI");
    if(loi_el===null)loi=0;
    else
    loi = loi_el.value;

console.log(loi);
    const wordCountAlert = e.target.parentElement.querySelector(
      ".projectForm__wordCountAlert"
    );

    if (e.target.classList.contains("projectForm__disabledBtn")) {
      var sopWordCount = sop.trim().split(/\s+/).length;
      if (sop==="") sopWordCount=0;
      const loiWordCount = loi ? loi.trim().split(/\s+/).length : undefined;
console.log(loiWordCount);
      wordCountAlert.firstElementChild.innerText = loiWordCount
        ? "SOP word count: " +
          sopWordCount +
          "\nLOI word count: " +
          loiWordCount
        : "SOP word count: " + sopWordCount;

      wordCountAlert.style.display = "block";
    }
  };

  const closeWordCountAlert = (e) => {
    const wordCountAlert = e.target.parentElement.querySelector(
      ".projectForm__wordCountAlert"
    );

    wordCountAlert.style.display = "none";
  };

  const wordCountCheck = (e) => {
    const project = e.target.parentElement.parentElement;
    const sop = project.querySelector(".projectForm__ftpSOP");
    const loi = project.querySelector(".projectForm__ftpLOI");
    const submitBtn = project.querySelector(".projectForm__submitBtn");

    const sopWordCount = sop.value.split(" ").length - 1;
    const loiWordCount = loi ? loi.value.split(" ").length - 1 : undefined;

    if (!loi && sopWordCount >= 150 && sopWordCount <= 1250)
      submitBtn.classList.remove("projectForm__disabledBtn");
    else if (
      loi &&
      sopWordCount >= 150 &&
      sopWordCount <= 1250 &&
      loiWordCount >= 500
    )
      submitBtn.classList.remove("projectForm__disabledBtn");
    else submitBtn.classList.add("projectForm__disabledBtn");
  };
</script>
{% endblock %}
