{% extends 'ftp/base_with_no_menu.html' %}
{% load static %}

{% block title %}EPFL | International Relations Cell{% endblock %}

{% block header %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
    integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
    integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
    crossorigin="anonymous"></script>
<style>
    .accordion-body {
        background-color: #f8f8f8;
        margin-right: 2.6em;
        border-bottom: 2px solid #cacaca99;
    }
</style>

{% endblock %}

{% block main %}
<style>
    #one {
        color: red;
    }

    #two {
        color: red;
    }

    #three {
        color: red;
    }

    section {
        padding-top: 0 !important;
    }

    #application {
        background-color: white;
    }

    #accordionExample {
        margin-bottom: 50px;
    }

    .accordion-header {
        display: flex;
        align-items: center;
    }

    .accordion-header>input {
        margin: 0;
        margin-left: 10px;
    }

    .accordion-item {
        border: 0;
    }

    .accordion-body {
        margin-right: 2.45em;
        border: 2px solid #cacaca99;
    }

    .priority {
        margin-left: 5px;
        margin-bottom: auto;
    }

    @media only screen and (max-width: 750px) {
        #application {
            padding: 60px 0 !important;
        }
</style>
<link rel="stylesheet" href="{% static 'ftp/ProjectsPage/css/application.css' %}">
<main>
    <section style="background: url({% static " ftp/images/bg.jpg" %})no-repeat fixed;">

        <div id="application" class="services-section section-padding30 fix" style="padding:60px;">
            <div style="background-color:#ece8e899 ; width: 94%; margin-left: 3% ; margin-top: 50px;">
                {% comment %} <div class="success"
                    style="font-size: 25px;font-weight: 700;text-align: center;color: #ed293c;">
                    Submissions are closed.
                </div> {% endcomment %}
                <form style="background-color:white ; margin-left:15px; margin-right: 15px;"
                    onsubmit="validateForm(event)" name="myForm" id="myform" method="post"
                    enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="row">
                        <!-- Content Column -->
                        <div class="col-xl-12 my-4" style="text-align: center">


                            <div class="row">
                                {% if messages %}
                                <div class="messages">
                                    {% for message in messages %}
                                    <div {% if message.tags %} class="{{ message.tags }}" {% endif %}
                                        style="font-size: 20px;font-weight: 700; text-align: center;color: #00506B">{{
                                        message }}</div>
                                    {% endfor %}
                                </div>
                                {% endif %}
                                {% if errors %}
                                {% for field in form %}
                                {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                                {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="form-group row" style="margin-top: 1rem; margin-left:30px">
                        <div class="row">
                            <div class="cell w-100">
                                <!-- Large title -->
                                <h1 style="font-size:40px"> Apply for EPFL Projects<br><br></i></h1>
                            </div>
                        </div>
                    </div>

                    <div class="container" style="width:94% ;">
                        <div class="row" style="margin-bottom: 50px;">
                            <div class="col-md-6">
                                <label class="col-form-label" for="name"
                                    style="color:#8c8a8ae3 ; font-weight: bold; font-size: 16px;display: inline-block;margin-bottom:10px;    font-family: 'Open Sans', sans-serif !important;">Name
                                    of the Student<span style="color:red;"> *</span></label>
                                <input name="fullname" class="form-control"
                                    value="{% if prof.fullname %}{{ prof.fullname }}{% endif %}"
                                    style="height:25px;outline: 0; border-width: 0 0 1px;border-radius: 0 0 0 0;border-color: black; opacity:0.4; "
                                    placeholder="Name of the Student" required></Input>
                            </div>
                            <div class="col-md-6">
                                <label class="col-form-label" for="dob"
                                    style=" color:#8c8a8ae3 ; font-weight: bold; font-size: 16px;display: inline-block;margin-bottom:10px;font-family: 'Open Sans', sans-serif !important;">Date of Birth<span style="color:red;"> *</span></label>
                                <input name="dob" class="form-control"
                                    style="height:25px; outline: 0; border-width: 0 0 1px;border-radius: 0 0 0 0;border-color: black; opacity:0.4;"
                                    Placeholder="DD-MM-YYYY" required></Input>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 50px;">
                            <div class="col-md-6">
                                <label class="col-form-label" for="gender"
                                    style="color:#8c8a8ae3 ; font-weight: bold; font-size: 16px;display: inline-block;margin-bottom:10px;    font-family: 'Open Sans', sans-serif !important;">Gender</label><span
                                    style="color:red;"> *</span></label>
                                <select id="gender" name="gender" class="form-select col-md-6"
                                    style="height:25px;outline: 0; border-width: 0 0 1px;border-radius: 0 0 0 0;border-color: black; opacity:0.4;padding-top: 0;padding-bottom:0">
                                    {% if not prof.gender or prof.gender == "Male" %}<option selected value="Male">Male</option>{% else %}<option
                                        value="Male">Male</option>{% endif %}
                                    {% if prof.gender == "Female" %}<option selected value="Female">Female</option>{% else %}<option value="Female">
                                        Female</option>{% endif %}
                                    {% if prof.gender == "Other" %}<option selected value="Other">Other</option>{% else %}<option value="Other">
                                        Other</option>{% endif %}
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label class="col-form-label" for="email"
                                    style="color:#8c8a8ae3 ; font-weight: bold; font-size: 16px;display: inline-block;margin-bottom:10px;    font-family: 'Open Sans', sans-serif !important;">Email
                                    Address<span style="color:red;"> *</span></label>
                                <input name="email" class="form-control"
                                    value="{% if prof.alt_email %}{{ prof.alt_email }}{% endif %}"
                                    style="height:25px;outline: 0; border-width: 0 0 1px;border-radius: 0 0 0 0;border-color: black; opacity:0.4; "
                                    placeholder="Email Address" required></Input>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 50px;">
                            <div class="col-md-6">
                                <label class="col-form-label" for="programme"
                                    style="color:#8c8a8ae3 ; font-weight: bold; font-size: 16px;display: inline-block;margin-bottom:10px;    font-family: 'Open Sans', sans-serif !important;"Current >Programme<span style="color:red;"> *</span></label>
                                <select id="programme" name="programme" class="form-select" style="height:25px;outline: 0; border-width: 0 0 1px;border-radius: 0 0 0 0;border-color: black; opacity:0.4;padding-top: 0;padding-bottom:0">
                                    <option selected value="B-Other">Bachelor Other</option>
                                    <option value="B-Com">Bachelor Communications</option>
                                    <option value="B-CE">Bachelor Computer Engineering</option>
                                    <option value="B-CS">Bachelor Computer Science</option>
                                    <option value="B-CSE">Bachelor Computer Science and Engineering</option>
                                    <option value="B-ECE">Bachelor Electrical and Computer Engineering</option>
                                    <option value="B-EE">Bachelor Electrical Engineering</option>
                                    <option value="B-Other">Bachelor Other</option>
                                    <option value="B-SE">Bachelor Software Engineering</option>
                                    <option value="D-Com">Dual Degree Communications</option>
                                    <option value="D-CE">Dual Degree Computer Engineering</option>
                                    <option value="D-CS">Dual Degree Computer Science</option>
                                    <option value="D-CSE">Dual Degree Computer Science and Engineering</option>
                                    <option value="D-ECE">Dual Degree Electrical and Computer Engineering</option>
                                    <option value="D-EE">Dual Degree Electrical Engineering</option>
                                    <option value="D-Other">Dual Degree Other</option>
                                    <option value="D-SE">Dual Degree Software Engineering</option>
                                    <option value="M-Com">Master Communications</option>
                                    <option value="M-CE">Master Computer Engineering</option>
                                    <option value="M-CS">Master Computer Science</option>
                                    <option value="M-CSE">Master Computer Science and Engineering</option>
                                    <option value="M-ECE">Master Electrical and Computer Engineering</option>
                                    <option value="M-EE">Master Electrical Engineering</option>
                                    <option value="M-Other">Master Other</option>
                                    <option value="M-SE">Master Software Engineering</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label class="col-form-label" for="duration"
                                    style="color:#8c8a8ae3 ; font-weight: bold; font-size: 16px;display: inline-block;margin-bottom:10px;    font-family: 'Open Sans', sans-serif !important;">Course
                                    Duration in Year(s)<span style="color:red;"> *</span></label>
                                <input name="duration" class="form-control"
                                    style="height:25px;outline: 0; border-width: 0 0 1px;border-radius: 0 0 0 0;border-color: black; opacity:0.4; "
                                    placeholder="Course Duration" type="number" required></Input>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <label class="col-form-label" for="year"
                                    style="color:#8c8a8ae3 ; font-weight: bold; font-size: 16px;display: inline-block;margin-bottom:10px;    font-family: 'Open Sans', sans-serif !important;">Year
                                    of Study<span style="color:red;"> *</span></label>
                                <input name="year" class="form-control" value="{% if prof.year %}{{ prof.year }}{% endif %}"
                                    style="height:25px;outline: 0; border-width: 0 0 1px;border-radius: 0 0 0 0;border-color: black; opacity:0.4; "
                                    placeholder="Year of Study" type="number" required></Input>
                            </div>
                            <div class="col-md-6">
                                <label class="col-form-label" for="cgpa"
                                    style="color:#8c8a8ae3 ; font-weight: bold; font-size: 16px;display: inline-block;margin-bottom:10px;    font-family: 'Open Sans', sans-serif !important;">CGPA<span
                                        style="color:red;"> *</span></label>
                                <input name="cgpa" class="form-control" value="{% if prof.cgpa %}{{ prof.cgpa }}{% endif %}"
                                    style="height:25px;outline: 0; border-width: 0 0 1px;border-radius: 0 0 0 0;border-color: black; opacity:0.4; "
                                    placeholder="CGPA" type="text" required></Input>
                            </div>
                        </div>

                        <div class="row" style="margin-top: 50px;">
                            <div class="col-md-6">
                                <label class="col-form-label" for="start"
                                    style="color:#8c8a8ae3 ; font-weight: bold; font-size: 16px;display: inline-block;margin-bottom:10px;    font-family: 'Open Sans', sans-serif !important;">Earliest Starting Date<span style="color:red;"> *</span></label>
                                <input name="start" class="form-control" style="height:25px;outline: 0; border-width: 0 0 1px;border-radius: 0 0 0 0;border-color: black; opacity:0.4; "
                                    placeholder="DD-MM-YYYY" required></Input>
                            </div>
                            <div class="col-md-6">
                                <label class="col-form-label" for="end"
                                    style="color:#8c8a8ae3 ; font-weight: bold; font-size: 16px;display: inline-block;margin-bottom:10px;    font-family: 'Open Sans', sans-serif !important;">Latest Ending Date<span style="color:red;"> *</span></label>
                                <input name="end" class="form-control" style="height:25px;outline: 0; border-width: 0 0 1px;border-radius: 0 0 0 0;border-color: black; opacity:0.4; "
                                    placeholder="DD-MM-YYYY" required></Input>
                            </div>
                        </div>

                        <div class="row" style="margin-top: 50px;">
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="col-form-label" for="lor"
                                        style="color:#8c8a8ae3 ; font-weight: bold; font-size: 16px;display: inline-block;margin-bottom:10px;font-family: 'Open Sans', sans-serif !important;">Letter
                                        of Recommendation<span style="color:red;"> *</span></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="file" class="form-control-file" name="sop" accept=".pdf" required>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 50px;">
                                <div class="col-md-12">
                                    <label class="col-form-label" for="cv"
                                        style="color:#8c8a8ae3 ; font-weight: bold; font-size: 16px;display: inline-block;margin-bottom:10px;font-family: 'Open Sans', sans-serif !important;">Latest
                                        CV<span style="color:red;"> *</span></label>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 50px;">
                                <div class="col-md-12">
                                    <input type="file" class="form-control-file" name="cv" accept=".pdf" required>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <label class="col-form-label" for="Transcript"
                                        style="color:#8c8a8ae3 ; font-weight: bold; font-size: 16px;display: inline-block;margin-bottom:10px;font-family: 'Open Sans', sans-serif !important;">Transcript<span
                                            style="color:red;"> *</span></label>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 50px;">
                                <div class="col-md-12">
                                    <input type="file" class="form-control-file" name="transcript" accept=".pdf"
                                        required>
                                </div>
                            </div>

                            <div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="col-form-label" for="pref1"
                                            style="color:#8c8a8ae3 ; font-weight: bold; font-size: 16px;display: inline-block;margin-bottom:10px;font-family: 'Open Sans', sans-serif !important;">Select your first preference project<span style="color:red;"> *</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <select id="pref1" name="pref1" class="form-select" style="margin-bottom: 50px;">
                                <option selected value="ATCS">Algorithms &amp; Theoretical Computer Science</option>
                                <option value="AIML">Artificial Intelligence &amp; Machine Learning</option>
                                <option value="CAIS">Computer Architecture &amp; Integrated Systems</option>
                                <option value="DMIR">Data Management &amp; Information Retrieval</option>
                                <option value="DE">Digital Education</option>
                                <option value="DC">Distributed Computing</option>
                                <option value="HCI">Human-Computer Interaction</option>
                                <option value="ICT">Information &amp; Communication Theory</option>
                                <option value="NLP">Natural Language Processing</option>
                                <option value="OSN">Operating Systems &amp; Networks</option>
                                <option value="PLFM">Programming Languages &amp; Formal Methods</option>
                                <option value="SP">Security &amp; Privacy</option>
                                <option value="SIP">Signal &amp; Image Processing</option>
                                <option value="VC">Visual Computing</option>
                            </select>

                            <div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="col-form-label" for="pref2"
                                            style="color:#8c8a8ae3 ; font-weight: bold; font-size: 16px;display: inline-block;margin-bottom:10px;font-family: 'Open Sans', sans-serif !important;">Select your second preference project<span style="color:red;"> *</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <select id="pref2" name="pref2" class="form-select" style="margin-bottom: 50px;">
                                <option selected value="ATCS">Algorithms &amp; Theoretical Computer Science</option>
                                <option value="AIML">Artificial Intelligence &amp; Machine Learning</option>
                                <option value="CAIS">Computer Architecture &amp; Integrated Systems</option>
                                <option value="DMIR">Data Management &amp; Information Retrieval</option>
                                <option value="DE">Digital Education</option>
                                <option value="DC">Distributed Computing</option>
                                <option value="HCI">Human-Computer Interaction</option>
                                <option value="ICT">Information &amp; Communication Theory</option>
                                <option value="NLP">Natural Language Processing</option>
                                <option value="OSN">Operating Systems &amp; Networks</option>
                                <option value="PLFM">Programming Languages &amp; Formal Methods</option>
                                <option value="SP">Security &amp; Privacy</option>
                                <option value="SIP">Signal &amp; Image Processing</option>
                                <option value="VC">Visual Computing</option>
                            </select>

                            <div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="col-form-label" for="pref3"
                                            style="color:#8c8a8ae3 ; font-weight: bold; font-size: 16px;display: inline-block;margin-bottom:10px;font-family: 'Open Sans', sans-serif !important;">Select your third preference project<span style="color:red;"> *</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <select id="pref3" name="pref3" class="form-select" style="margin-bottom: 50px;">
                                <option selected value="ATCS">Algorithms &amp; Theoretical Computer Science</option>
                                <option value="AIML">Artificial Intelligence &amp; Machine Learning</option>
                                <option value="CAIS">Computer Architecture &amp; Integrated Systems</option>
                                <option value="DMIR">Data Management &amp; Information Retrieval</option>
                                <option value="DE">Digital Education</option>
                                <option value="DC">Distributed Computing</option>
                                <option value="HCI">Human-Computer Interaction</option>
                                <option value="ICT">Information &amp; Communication Theory</option>
                                <option value="NLP">Natural Language Processing</option>
                                <option value="OSN">Operating Systems &amp; Networks</option>
                                <option value="PLFM">Programming Languages &amp; Formal Methods</option>
                                <option value="SP">Security &amp; Privacy</option>
                                <option value="SIP">Signal &amp; Image Processing</option>
                                <option value="VC">Visual Computing</option>
                            </select>
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="checkbox" name="declaration" id='check1' value='2' required>&nbsp;
                                    <label class="col-form-label" for="declaration1"
                                        style="color:#8c8a8ae3 ; font-weight: bold; font-size: 16px;display: inline;margin-bottom:10px;font-family: 'Open Sans', sans-serif !important;">
                                        I hereby declare that the information given in this application is true and
                                        correct to the best of my knowledge and belief<span style="color:red;">
                                            *</span></label>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-md-12">
                                    <input type="checkbox" id='check2' name="declaration" value='2' required>&nbsp;
                                    <label class="col-form-label" for="declaration2"
                                        style="color:#8c8a8ae3 ; font-weight: bold; font-size: 16px;display: inline;margin-bottom:10px;font-family: 'Open Sans', sans-serif !important;">
                                        I agree to the Privacy Policy Agreement and consent to having EPFL store and process the information I submitted so as to process my application. For more details, <a style="color:rgb(136, 136, 255);text-decoration: none;" target="_blank" href="https://go.epfl.ch/privacy-policy">click here!</a><span
                                            style="color:red;"> *</span></label>
                                </div>
                            </div>
                            <br>
                        </div>

                        <!-- Modal footer -->
                        <center style=" margin:50px 0">
                            <button type="submit" class="btn btn-success applybutton formsub"
                                style="width: 100px;height: 40px;font-size:20px" id='btn'>Apply</button>
                            <button type="button" class="btn btn-danger"
                                style="width: 100px;height: 40px;font-size:20px"
                                onclick="location.href='{% url 'index' %}'">Close</button>
                        </center>

                        <input style="display:none;" id="col1" name="col1">
                </form>
            </div>


    </section>
</main>
{% endblock %}

{% block js %}
<script>
    var id = window.location.pathname;
    pid = id.slice(24, -1);
    document.getElementById('col1').value = pid;

    let choices = [];
    const projects = Array.from(document.getElementsByClassName("anu_project"));
    const handleChoice = e => {
        if (choices.length === 3)
            e.target.checked = false;

        if (e.target.checked)
            choices.push(e.target.value);
        else
            choices = choices.filter(choice => choice !== e.target.value);

        projects.map(project => project.querySelector(".priority").innerText = "");

        choices.map((choice, index) => {
            const project = projects.find(project => project.querySelector(".form-check-input").value === choice);
            project.querySelector(".priority").innerText = "(" + (index + 1) + ")";
            var x = document.getElementById("pref" + (index + 1));
            console.log(x);
            console.log(project.querySelector("button").innerText.slice(0, -3));
            x.value = project.querySelector("button").innerText.slice(0, -3);
        });
    }
    function validateForm(event) {
        return true;
        event.preventDefault();
        var textbox = document.forms["myForm"]["Statement_of_Purpose"].value;
        console.log(textbox)
        if (textbox.match(/(\w+)/g).length == null) {
            var textbox_count = 0;
        }
        else {
            var textbox_count = textbox.match(/(\w+)/g).length
        }
        console.log(textbox_count);
        if (textbox_count < 500) {
            document.getElementById("one").innerHTML = "**Words less then 500";
            alert('Statement of Purpose is less than 500 words');
            return false;
        } else if (document.getElementById('check1').checked && document.getElementById('check2').checked) {
            document.getElementById("one").innerHTML = "";
            document.getElementById('myform').submit();
        }
        else {

            alert('Please Accept the Checkbox');
        }
    }
    document.getElementById("random").style.display = "none";

</script>
{% endblock %}