{% extends 'ftp/base.html' %}
{% load static %}

{% block title %}Projects | FTP | International Relations Cell{% endblock %}

{% block main %}
<!-- CSS only -->


<style>
.viewsApplicationsBtn {
  position: absolute;
  top: 80px;
  right: 10px;
  color: white;
  background-color: #254292;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.5s;
}

.viewsApplicationsBtn:hover {
  filter: brightness(80%);
}
  
@media screen and (max-width: 600px){
  .viewsApplicationsBtn {
	  position: absolute;
	  top: 50px;
	  font-size: 14px;
	  right: 10px;
	  color: white;
	  background-color: #254292;
	  padding: 10px;
	  border-radius: 5px;
	  transition: all 0.5s;
	}
}



.req__btn {
	width: 198px;
}

.req__div {
	position: absolute;
	top: 80px;
	left: 10px;
	/*width: 100%;
	display: block;
	background: inherit;*/
	border: none;
}
.req__btn {
	height: 55px;
	background: linear-gradient(135deg, #001A3B , #00506B , #007C96 , #00809B);
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #930265;
	line-height: 55px;
	border: none;
	text-align: center;
	font-size: 1rem;
	/* letter-spacing: 0.7px; */
	display: block;
	margin: auto;	
	text-decoration: none;
	/* text-transform: uppercase; */
	color: #fff;
	font-family: 'Roboto';
	/* font-weight: 600; */
	padding: 0px;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
	cursor: pointer;
}
.req__btn:hover{
color:#fff;
}

@media screen and (max-width: 600px){
	.req__div{
		font-size: 14px;
		position: relative;
		margin-bottom: 40px;
	}

}

.reqbtn{
	background: linear-gradient(135deg, #001A3B , #00506B , #007C96 , #00809B);
	-webkit-border-radius: 5px;
	{% comment %} border-radius: 5px; {% endcomment %}
	background-color: #930265;
	{% comment %} line-height: 55px; {% endcomment %}
	border: none !important;
}
 .reqbtn.disabled{
	
    background: #99c7ef;

 }

 .toggle-next{
  border-radius: 0;
 }
  
label {
  cursor: pointer;
}
  
.ellipsis {
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.apply-selection{
  display: none;
  width: 100%;
  margin: 0;
  padding: 5px 10px;
  border-bottom: 1px solid #ccc;
}
  
  .ajax-link {
    display: none;
}
.checkboxes{
  margin: 0;
  display: none;
  border: 1px solid #ccc;
  border-top: 0;
}

  .inner-wrap{
    padding: 5px 10px;
    max-height: 140px;
    overflow: auto;
  }
</style>


<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
	integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
   

<main>
	{% for p in allprojects %}
	{% if p.display %}
	<div class="projectFormContainer">
		<form class="projectForm" id="project-{{p.id}}" action="{% url 'ftp:apply_project' project_id=p.id %}"
			method="POST" enctype="multipart/form-data"
			onsubmit="if(!confirm('Are you sure you want to submit? You cannot change the details later.')){return false;}">
			{% csrf_token %}
			<i class="fa fa-close" onclick="closeForm('{{p.id}}')"></i>
			<h1>{{p.project_name}}</h1>
			<h2>{{p.university}}</h2>
			<div class="projectForm__editables">
				{% if p.special %}
				<p>Letter Of Interest:</p>
				<textarea name="Loi" class="projectForm__ftpLOI"
					placeholder="A brief essay indicating your interest in the research project and your relevant background (500 words)"
					onkeyup="wordCountCheck(event)"></textarea>
				{% endif %}
				<p>Statement Of Purpose:</p>
				<textarea class="projectForm__ftpSOP" type="text"
					placeholder="Write a statement of importance of the proposed research to your future in 150 to 200 words."
					onkeyup="wordCountCheck(event)" name="sop"></textarea>
				{% if p.multi_domain %}
				<div class="projectForm__domain">
					Select Project Domain Pref. 1
					<select name="proj_domain1" class="form-group">
						{% for domain in proj_domains %}
						{% if domain.project == p %}
						<option style="text-align: center" value="{{ domain.name }}">{{ domain.name }}
						</option>
						{% endif %}
						{% endfor %}
					</select>
				</div>
				<div class="projectForm__domain">
					Select Project Domain Pref. 2
					<select name="proj_domain2" class="form-group">
						{% for domain in proj_domains %}
						{% if domain.project == p %}
						<option style="text-align: center" value="{{ domain.name }}">{{ domain.name }}
						</option>
						{% endif %}
						{% endfor %}
					</select>
				</div>
				<div class="projectForm__domain">
					Select Project Domain Pref. 3
					<select name="proj_domain3" class="form-group">
						{% for domain in proj_domains %}
						{% if domain.project == p %}
						<option style="text-align: center" value="{{ domain.name }}">{{ domain.name }}
						</option>
						{% endif %}
						{% endfor %}
					</select>
				</div>
				{% endif %}
				<input type="file" class="section__uploadFileInput" accept="application/pdf"
					onchange="changedFile(event)" name="ncv" />
				<button class=" project__uploadFileBtn" style="background-color: #00506B;" onclick="uploadFile(event)">
					Apply with a different CV
				</button>
				<p>(optional)</p>
			</div>
			<div class=" projectForm__wordCountAlert">
				<p style="margin-bottom: 10px;">SOP word count: 0<br />LOI word count: 0</p>
				<p>SOP limit: 150-200 words<br />{% if p.special %}LOI limit: 500 words{% endif %}</p>
			</div>
			<button class="projectForm__submitBtn projectForm__disabledBtn" onmouseenter="openWordCountAlert(event)"
				onclick="submitProjectForm(event, '')" onmouseleave="closeWordCountAlert(event)"
				onblur="closeWordCountAlert(event)">Submit</button>
		</form>
	</div>
	{% endif %}
	{% endfor %}

	<section>
		{% if messages %}
		<ul class="messages">
			{% for message in messages %}
			<li {% if message.tags %} class="{{ message.tags }}" {% endif %}
				style="font-size: 15px;font-weight: 700; text-align: center;color: #00506B">{{message}}
			</li>
			{% endfor %}
		</ul>
		{% endif %}
		<div class="req__div" >
			<a class="req__btn" data-bs-toggle="modal" data-bs-target="#reqModal">Request a Project</a>
		</div>
		<a class="viewsApplicationsBtn" href="{% url 'ftp:yourapplications' %}" style="background: linear-gradient(135deg, #001A3B , #00506B , #007C96 , #00809B);--bs-link-hover-color: #fff;
		text-decoration: none;border: 2px solid white;">Go to applied Projects <i class="fas fa-arrow-right" style="padding-left: 5px"></i></a>
		<h1>Projects</h1>
		<hr
			style="border: none;outline: none;height: 2px;max-width: 1000px; width: calc(100vw - 20px);background-color: #d5d5d5; margin-top: 10px;margin-bottom: 20px" />
		{% if success %}
		<h2>We'll be back with more projects soon!</h2>
		{% else %}
		<div class="section__projects">
			{% for p in allprojects %}
			{% if p.display %}
			{% if p.deadline >= date %}
			<div class="section__projectCard is-collapsed">
				<div class="section__projectCardInner" style="height: 700px !important; margin-bottom: 10px;">
					<i class="{% if p in bookmarks %}fas{% else %}far{% endif %} fa-bookmark bookmark"
						id="book{{ p.id }}"></i>
					<img class="section__projectCardImg" src='../../../media/{{p.project_image}}' alt=""/>
					<div class="custom-shape-divider-bottom-1665510826">
						<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
							<path d="M600,112.77C268.63,112.77,0,65.52,0,7.23V120H1200V7.23C1200,65.52,931.37,112.77,600,112.77Z"
								class="shape-fill"></path>
						</svg>
					</div>
					<div style="padding-left: 15px; padding-right: 15px;">
						<p class="section__projectCardTitle">{{p.project_name}}</p>
						<p class="section__projectCardSecondaryText">{{p.university}}</p>
						<p class="section__projectCardDetail">{{p.project_detail|truncatewords:'25'|slice:'-1'}}...</p>
						<p class="section__projectCardMode"><b>Project Mode:</b> {{p.project_mode}}</p>
						<!-- <hr /> -->
						<p class="section__projectCardSubtitle"><b>Deadline:</b> {{p.deadline}}</p>
						<div class="section__tagsContainer">
							{% for tag in p.tags.all %}
							<p class="section__tag">{{tag}}</p>
							{% endfor %}
						</div>
					</div>
					<p class="section__projectCardAction js-expander">Read more</p>
				</div>
				<div class="section__projectDetails">
					<i class="fa fa-close js-collapser"></i>
					<h1 style="margin-bottom: 10px;">Project Details</h1>
					<div class="section__projectInfo">
						<div class="section__projectInfo-sub" style="flex:1;">
							<p><b><i class=" fas fa-file-signature"></i></i>Name: </b><span>{{p.project_name}}</span>
							</p>
							<p><b><i class="fas fa-university"></i></i>University: </b><span>{{p.university}}</span></p>
							<p><b><i class="fas fa-calendar-day"></i></i>Deadline: </b><span>{{p.deadline}}</span></p>
						</div>
						<div class="section__projectInfo-sub">
							<p><b><i class="fas fa-calendar-alt"></i></i>Duration: </b><span>{{p.project_time}}</span>
							</p>
							<p><b><i class="fas fa-money-bill-alt"></i>Stipend: </b><span>{{p.stipend}}</span></p>
							<p><b><i class="fas fa-dollar-sign"></i>Currency: </b><span>{{p.currency}}</span></p>
						</div>
					</div>
					<p class="section__projectDetails2" style="flex-direction: column;"><b><i
								class="fas fa-info-circle"></i>Details:
						</b><br><br> <span><b>Project Mode: </b>{{p.project_mode}}</span><span>{{p.project_detail|linebreaks}}</span></p>
					<p><b><i class="fas fa-puzzle-piece"></i>Pre-requisite:
						</b><span>{{p.prerequisite.detail|linebreaks}}</span></p>
					{% if not selected %}
					{% if p.reason is None %}
					<button onclick="openForm('{{p.id}}')">Apply</button>
					{% else %}
					<p style="text-align: center; color: red">{{p.reason}}</p>
					{% endif %}
					{% else %}
					{% endif %}
				</div>
			</div>
			{% endif %}
			{% endif %}
			{% endfor %}
		</div>
		{% endif %}
		<h1>Past Projects</h1>
		<hr
			style="border: none;outline: none;height: 2px;max-width: 1000px; width: calc(100vw - 20px);background-color: #d5d5d5; margin-top: 10px;margin-bottom: 20px" />
		<div class="section__projects">
			{% for p in pastproject %}
			{% if p.display %}
			{% if p.deadline < date %} <div class="section__projectCard is-collapsed" id="project-{{p.id}}">
				<div class="section__projectCardInner" style="height: 700px !important; margin-bottom: 10px;">
					<i class="{% if p in bookmarks %}fas{% else %}far{% endif %} fa-bookmark bookmark" id="book{{ p.id }}"></i>
					<img class="section__projectCardImg"
						src="../../../media/{{p.project_image}}"
						alt="" />
					<div class="custom-shape-divider-bottom-1665510826">
						<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
							<path d="M600,112.77C268.63,112.77,0,65.52,0,7.23V120H1200V7.23C1200,65.52,931.37,112.77,600,112.77Z"
								class="shape-fill"></path>
						</svg>
					</div>
					<div style="padding-left: 15px; padding-right: 15px;">
						<p class="section__projectCardTitle">{{p.project_name}}</p>
						<p class="section__projectCardSecondaryText">{{p.university}}</p>
						<p class="section__projectCardDetail">{{p.project_detail|truncatewords:'25'|slice:'-1'}}...</p>
						<p class="section__projectCardMode"><b>Project Mode:</b> {{p.project_mode}}</p>
						<!-- <hr /> -->
						<p class="section__projectCardSubtitle" style="margin-top: 10px;"><b>Deadline:</b> {{p.deadline}}</p>
						<div class="section__tagsContainer">
							{% for tag in p.tags.all %}
							<p class="section__tag">{{tag}}</p>
							{% endfor %}
						</div>
					</div>
					<p class="section__projectCardAction js-expander">Read more</p>
				</div>
				<div class="section__projectDetails">
					<i class="fa fa-close js-collapser"></i>
					<h1 style="margin-bottom: 20px;">Project Details</h1>
					<div class="section__projectInfo">
						<div class="section__projectInfo-sub" style="flex:1;">
							<p><b><i class=" fas fa-file-signature"></i></i>Name:
								</b><span>{{p.project_name}}</span>
							</p>
							<p><b><i class="fas fa-university"></i></i>University: </b><span>{{p.university}}</span>
							</p>
							<p><b><i class="fas fa-calendar-day"></i></i>Deadline: </b><span>{{p.deadline}}</span>
							</p>
						</div>
						<div class="section__projectInfo-sub">
							<p><b><i class="fas fa-calendar-alt"></i></i>Duration:
								</b><span>{{p.project_time}}</span>
							</p>
							<p><b><i class="fas fa-dollar-sign"></i>Stipend: </b><span>{{p.stipend}}</span></p>
							<p><b><i class="fas fa-dollar-sign"></i>Currency: </b><span>{{p.currency}}</span></p>
						</div>
					</div>
					<p class="section__projectDetails2" style="flex-direction: column;"><b><i
								class="fas fa-info-circle"></i>Details:
						</b><br><br> <span><b>Project Mode: </b>{{p.project_mode}}</span><span>{{p.project_detail|linebreaks}}</span></p>
					<p><b><i class="fas fa-puzzle-piece"></i>Pre-requisite:
						</b><span>{{p.prerequisite.detail|linebreaks}}</span></p>
					<p style="color: lightgreen;text-align: center;">Application
						Closed.</p>
				</div>
		</div>
		{% endif %}
		{% endif %}
		{% endfor %}
		</div>

		<!-- Request a Project -->
		<!-- <form action="#" id="subscribe-top" class="form join-us">
			<a href="{% url 'ftp:login_user' %}" class="req__btn">Request a Project</a>
		</form> -->
 

		
	</section>
	<div class="modal fade" id="reqModal" tabindex="-1" aria-hidden="true" >
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-bs-dismiss="modal" style ="border: none;background: inherit;font-size: 1.5rem;">&times;</button>
					<h4 class="modal-title">Select a Project Topic</h4>
				</div>
				<div class="modal-body">
					<form method="POST" id="req-form">
						{% csrf_token %}
						 {% comment %} <select required class="form-select" aria-label="Default select example" name="selectfield" id="req-select" multiple>
							 <option hidden disabled {% if form.selectfield.field.initial == "default" %}selected{% endif %} value="default">Select Project Topic</option>
							{% for value,topicname in form.fields.selectfield.choices %}
								<option value="{{ value }}" {% if form.selectfield.field.initial == value %}selected{% endif %} >{{ topicname }}</option>
							{% endfor %}
						</select> {% endcomment %}
						{% comment %} {% if form.fields.selectfield.value == value %} selected{% endif %} {% endcomment %}
                        <div class="col-md-12">
						<div class="wrapper">
						<div class="form-control toggle-next ellipsis">Select a Project Topic</div>

						<div class="checkboxes" id="Categories">
							
							<div class="inner-wrap">
							{% for value,topicname in form.fields.selectfield.choices %}
								<label>
									<input type="checkbox" value="{{value}}" class="ckkBox val {% if value == '0' %}other{% endif %}" name="checks[]" />
									<span>{{topicname}}</span>
								</label><br>
							{% endfor %}


							</div>
						</div>
						</div>
					</div>
				   
					

					<div class="form-group">
						<!-- <input type="text" name="inputfield" id="id_inputfield" value=" " class="req-input" style="display:none"> -->
						<textarea class="req-input" name="inputfield" id="id_inputfield" value=" " rows="3" style="display:none; width:100%; margin-top: 10px; padding: 5px" placeholder="Enter your topic"></textarea>
					</div>
				   
				
						{% comment %} {{ form }} {% endcomment %}
						{% comment %} <button type="submit">Submit</button> {% endcomment %}
					</form>
					{% comment %} {% for field in form %}
	{{ field.field.initial }}
{% endfor %} {% endcomment %}
                {% comment %} <p style="margin-top: 1rem;color: red;font-size: 14px;">You can request any one Topic.</p> {% endcomment %}

				</div>
				<!-- <div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div> -->
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary reqbtn disabled" form="req-form">Request</button>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock %}
{% block js %}

<script>
	
	$('.bookmark').click(function () {
		var id = this.id;
		var pid = id.slice(4,);
		$.ajax({
			type: "GET",
			url: "{% url 'ftp:add_favorite' %}",
			data: {
				'pid': pid,
			},
			dataType: 'json',
			success: function (data) {
				if (data.fb) {
					var ele = document.getElementById("book" + pid);
					if (ele.classList.contains("fas")) {
						$("#book" + pid).removeClass("fas").addClass("far");
					} else {
						$("#book" + pid).addClass("fas").removeClass("far");
					}
				}
			}
		});
	});
</script>

<script>
	$(document).ready(
	

	function() {
  
  setCheckboxSelectLabels();
  
  $('.toggle-next').click(function() {
    $(this).next('.checkboxes').slideToggle(400);
  });
  
  $('.ckkBox').change(function() {
	if($('.ckkBox:checked').length > 0)
	$(".reqbtn").removeClass("disabled");
	else
	$(".reqbtn").addClass("disabled");
  {% comment %} console.log($(".other:checked")); {% endcomment %}
	if($(".other:checked").length==1)
	{
		console.log("checkd");
	 $(".req-input").css("display","block");
			$(".req-input").prop('required',true);
	}
	else 
		{
			$(".req-input").css("display","none");
		$(".req-input").prop('required',false);
		}

    toggleCheckedAll(this);
    setCheckboxSelectLabels(); 
  });
  
});

  
function setCheckboxSelectLabels(elem) {
  var wrappers = $('.wrapper'); 
  $.each( wrappers, function( key, wrapper ) {
    var checkboxes = $(wrapper).find('.ckkBox');
    var label = $(wrapper).find('.checkboxes').attr('id');
    var prevText = '';
    $.each( checkboxes, function( i, checkbox ) {
      var button = $(wrapper).find('button');
      if( $(checkbox).prop('checked') == true) {
        var text = $(checkbox).next().html();
        var btnText = prevText + text;
        var numberOfChecked = $(wrapper).find('input.val:checkbox:checked').length;
        if(numberOfChecked >= 4) {
           btnText = numberOfChecked +' '+ label + ' selected';
        }
        $(button).text(btnText); 
        prevText = btnText + ', ';
      }
    });
  });
}

function toggleCheckedAll(checkbox) {
  var apply = $(checkbox).closest('.wrapper').find('.apply-selection');
  apply.fadeIn('slow'); 
  
  var val = $(checkbox).closest('.checkboxes').find('.val');
  var all = $(checkbox).closest('.checkboxes').find('.all');
  var ckkBox = $(checkbox).closest('.checkboxes').find('.ckkBox');

  if(!$(ckkBox).is(':checked')) {
    $(all).prop('checked', true);
    return;
  }

  if( $(checkbox).hasClass('all') ) {
    $(val).prop('checked', false);
  } else {
    $(all).prop('checked', false);
  }
}
</script>

<script>
	$('.reqbtn').on('click',function(e){
		if( $(this).hasClass('disabled') || ($('#id_inputfield').val() == "") && ($(".other:checked").length==1)){
			alert('Please fill out your topic!')
		}else if($('.ckkBox:checked').length > 0){
			alert('Your Project has been successfully requested!');
		}else{
			alert('Your Project has been successfully requested!');
		};
		});
</script>

<script src="https://code.jquery.com/jquery-3.6.1.min.js"
	integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
	crossorigin="anonymous"></script>



{% endblock %}
