<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>FTP | International Relations Cell, IIT Kharagpur</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
 <link rel="shortcut icon" type="image/png" href="img/favicon.png"/>
<style type="text/css">

#opa {
    opacity: 0.4;
    filter: alpha(opacity=50);
	-webkit-filter: blur(4px); 
    filter: blur(4px);
}  
  
    nav ul a,
nav .brand-logo {
 color: #e1e8f0;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

 .dropdown-content{
  min-width: 130px;
}
a,footer{
color: white;
}
nav{
  background-color: #363636;
}
.light, footer.page-footer .footer-copyright {
    font-weight: normal;
}
.btn-large{
background-color: #eb8921;

}
footer.page-footer{
  background-color:#eb8921;
}
.dropdown-content li > a, .dropdown-content li > span  {
color: #eb8921;
}
#namancreate {
  
    margin-left: 25px;
    margin-right: 0px;
}
</style>
</head>
<body>

  <ul id="dropdown1" class="dropdown-content" style="width: 150px;">
  <li><a href="initiatives2.html">SAP</a></li>
  <li><a href="initiatives.html">FTP</a></li>
  <li><a href="newsletter.html">Newsletter</a></li>
 
</ul>
<ul id="dropdown1" class="right hide-on-med-and-down dropdown-content" style="width: 150px;">
  <li><a href="initiatives2.html">SAP</a></li>
  <li><a href="initiatives.html">FTP</a></li>
  
<li><a href="newsletter.html">Newsletter</a></li>
</ul>

<div class="parallax-container " >
<nav class="transparent z-depth-5">
  <div class="nav-wrapper z-depth-5" style="background-color: rgba(0,0,0,0.4);">
    <a href="index.html" class="brand-logo" ><img src="img/iitkgplogo.png" id="namancreate" width="35px" height="35px"  hspace="25px" style="vertical-align: middle;" ><img src="img/logo2.png" id="namancreate" width="134px" height="35px"  hspace="25px" style="vertical-align: middle;" ></a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="side-nav" id="mobile-demo">
    <li><a href="about us 1.html">About</a></li>
     <li><a href="initiatives3.html">Partner Universities</a></li>
  
        <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1" data-beloworigin="true" hover="true">Initiatives</a></li>
      <li><a href="initiatives 4.html">Programs</a></li>
                       <!--           <li><a href="initiatives5.html">Mega Projects</a></li>-->
      <li><a href="life at kgp12.html">IIT KGP</a></li>
      <li><a href="insap.html">Apply</a></li>
      <li><a href="Contact us.html" >Contact us</a></li>
      </ul>
    <ul class="right hide-on-med-and-down">
      <li><a href="about us 1.html">About</a></li>
       <li><a href="initiatives3.html">Partner Universities</a></li>
  
        <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1" data-beloworigin="true" hover="true">Initiatives</a></li>
      <li><a href="initiatives 4.html">Programs</a></li>
<!--             <li><a href="initiatives5.html">Mega Projects</a></li>-->

      <li><a href="life at kgp12.html">IIT KGP</a></li>
      <li><a href="insap.html">Apply</a></li>
      <li><a href="Contact us.html" style="padding-right:50px;" >Contact us</a></li>
     
    </ul>

  </div>
</nav>
    <div class="section no-pad-bot">
  <div class="container  "  >
       <center> <h1 style="color:#eb8921; margin-top: 6%;" class="header col s12"><b>Foreign Training Program</b></h1>
        <div class="row center">
          <h5 >Formalization of the foreign training application procedure in collaboration with the Career Development Centre.</h5>
        </div></center>
        
      

      </div>
    </div>
    <div class="parallax" style="background:black;"><img src="img/background1.jpg" alt="Unsplashed background img 1" id="opa"></div>
  </div>

   <div class="container">
    <div class="section" style="margin: 7% 0;">

      <p class="center-align light">IIT Kharagpur as an Institute of national repute, has recognized that creating competitive and academically strong graduates alone cannot be its ultimate objective. It is, therefore, one of its premier objectives, to produce students who will demonstrate leadership qualities and will eventually become world leaders in their respective domains. Therefore in order to continue along this trajectory and raise their standards to reach their true potential, students will have to be given the exposure to see, work and experience new places and cultures. International exposure is crucial for a holistic development of an individual and the experience of living and working abroad will be tantamount to this endeavor.</p>
          
          <p class="center-align light">To achieve this goal, Foreign Training Program(FTP) has been initiated. Under this program, we have started formalization of the foreign training application procedure in collaboration with the Career Development Cell. The IR Cell is consistently working to have foreign research projects available on it. Through this we aim to streamline and increase the efficiency of the foreign training application procedure at IIT Kharagpur. This will save the time of students and professors, while giving them a global exposure and research intensive experience in their summers. To view our page on Career Development Centre website <a href="http://www.ircell.iitkgp.ac.in/ftp/portal/login/" style="color:red;">click here</a>.</p>
          
        </div>
     
  </div>
   <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
      <div class="row center">
          <h5 class="header col s12 ">Log In to FTP Portal</h5>
        </div>
       <div class="row center">
          <a href="http://www.ircell.iitkgp.ac.in/ftp/portal/login/" id="download-button" class="btn-large waves-effect waves-light  lighten-1" >Click Here</a>
        </div>
      </div>
    </div>
    <div class="parallax" style="background:black;"><img src="img/background1.jpg" alt="Unsplashed background img 1"  id="opa"></div>
  </div>

<footer class="page-footer #eb8921" >
          <div class="container">
            <div class="row">
          

              <div class="col s4 l4 m4" align="left"><br>
        <b>About us</b>
       <br><br> International Relations Cell is a student run body under the Dean of Alumni Affairs & International Relations. IR Cell works in tandem with the International Relations Office. We help to increase IIT Kharagpur's visibility on the gloabal platform.
              </div>
        <div class="col s1 m1 l1"></div>
        <div class="col s3 m3 l3"><br><b>Reach out to us</b><br><br>
      Indian Institute of Technology Kharagpur<br>
Kharagpur, India - 721302<br>
Phone: +91-3222-281068<br>
Email: irc@iitkgp.ac.in<br>
          </div>
       
              <div class="col s1 m1 l1"></div>
               <div class="col s3 m3 l3"><br><b>Quick Links</b><br><br>
        <a href="http://iitkgp.ac.in/">IIT Kharagpur</a><br>
        <a href="http://www.ircell.iitkgp.ac.in/ftp/portal/login/">FTP Portal</a><br>
        <a href="http://www.cdc.iitkgp.ernet.in/">Career Development Centre</a><br>
        <a href="https://ircell.wordpress.com/">IRC Blog</a>  <br>
		       <a href="newsletter.html">Newsletter</a>  <br>   
          <a href="FAQs.html">FAQs</a><br>
       <a href="https://www.facebook.com/IRCIITKGP/">
       <img src="img\fblogo1.png" width="13%"></a>
       <a href="https://www.linkedin.com/company/15235636?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A15235636%2Cidx%3A2-1-2%2CtarId%3A1481029635048%2Ctas%3Ainternational%20relations%20cell">
       <img src="img\link.png" width="13%"></a>
      </div>

      </div></div><br>
          <div class="footer-copyright">
            <div class="container">
            <p align="left">&copy 2017 Copyright International Relations Cell</p>
            </div>
          </div>
        </footer>
  

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
 
<script type="text/javascript">
  (function($){
  $(function(){

    $('.button-collapse').sideNav();
    $('.parallax').parallax();

  }); // end of document ready
})(jQuery);
</script>
  </body>
</html>
