{% load staticfiles %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>International Relations Cell | IIT Kharagpur</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
  integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>

  <style>
  html {
    position: relative;
    min-height: 100%;

  }

  @font-face {
    font-family: FontinRegular;
    src: url("{% static '/fonts/Fontin-Regular.ttf' %}");
  }

  @font-face {
    font-family: FontinItalic;
    src: url("{% static '/fonts/Fontin-Italic.ttf' %}");
  }

  @font-face {
    font-family: FontinBold;
    src: url("{% static '/fonts/Fontin-Bold.ttf' %}");
  }

  @font-face {
    font-family: FontinHead;
    src: url("{% static '/fonts/Fontin-SmallCaps.ttf' %}");
  }

  body {
    background-color: #f7fbff;
    font-family: FontinRegular, sans-serif;
    !important;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: FontinHead, sans-serif;
    !important;
  }

  .customnav {
    background-color: #202b3b;
    height: 77px;
  }

  footer {
    background-color: #202b3b;
    color: white;
  }

  footer h3 {
    color: #faa428;
  }

  .foot {
    position: relative;
    left: 5vw;
  }

  @media (max-width: 992px) {
    .foot {
      left: 0;
    }
  }

  </style>
</head>
<body style="background-color: #d4e7f9">

  <nav class="navbar navbar-expand-sm navbar-dark fixed-top customnav">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="{% static 'irciitlogo.png' %}" style="max-height: 40px;"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link weblink" onmouseout="this.style.color='#e0e0e0'" onmouseover="this.style.color='white'" href="https://international.iitkgp.ac.in/">International Relations Website</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <br>
  <center><h3 style="color:black;"><u>Student Applications</u></h3>
  </center>
  <br>
  <div class="row">

    {% for a in appis %}
    {% if a.reviewed and a.priority == '1' %}

<div class="card" style="width: 18rem; margin: 5vh">
  <img src="{{ MEDIA_URL }}{{ a.profile.photo }}" class="card-img-top" alt="Card image cap"
  style="height: 15rem;">
  <div class="card-body">
    <h5 class="card-title">&nbsp;&nbsp;&nbsp;&nbsp;{{ a.profile.fullname }}</h5>

    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>Roll No:</b>&nbsp;{{ a.user.username }}</li>
      <li class="list-group-item"><b>Department:</b>&nbsp;{{ a.profile.department }}</li>
    </ul>
    <div class="card-block">
      <center><a href="{{ MEDIA_URL }}{% if a.ncv %}{{ a.ncv }}{% else %}{{ a.profile.cv }}{% endif %}" class="card-link" target="_blank">Curriculum Vitae(CV)</a><br>
        <center><a href="{{ MEDIA_URL }}{{ a.profile.transcript }}" class="card-link">Grade Card</a><br>
          <a href="{% url 'ftp:full_details' app_id=a.id %}" class="card-link">SOP & Full
            Details</a>
          </center>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}

    {% for a in appis %}
    {% if a.reviewed and a.priority == '2' %}
    <!--<div class="col-sm-3">
  }
  <div class="card" style="width: 15rem; margin-bottom: 5vh;">
  <img src="{{ MEDIA_URL }}{{ a.profile.photo }}" class="card-img-top"  alt="Card image cap" style="height: 15rem;">
  <div class="card-block">
  <h4 class="card-title">{{ a.profile.department }}</h4>
  <p class="card-text"></p>
</div>
<ul class="list-group list-group-flush">
<li class="list-group-item"><b>Name:</b>&nbsp;{{ a.profile.fullname }}</li>
<li class="list-group-item"><b>Roll No:</b>&nbsp;{{ a.user.username }}</li>
<li class="list-group-item"><b>Department:</b>&nbsp;{{ a.profile.department }}</li>
</ul>

<div class="card-block">
<center><a href="{{ MEDIA_URL }}{{ a.profile.cv }}" class="card-link">Curriculum Vitae (CV)</a><br>
<center><a href="{{ MEDIA_URL }}{{ a.profile.transcript }}" class="card-link">Grade Card</a><br>
<a href="{% url 'ftp:full_details' app_id=a.id %}" class="card-link">SOP & Full Details</a>
</center>
</div>
</div>
</div>
<div class="col-sm-1">
</div>

-->
<div class="card" style="width: 18rem; margin: 5vh">
  <img src="{{ MEDIA_URL }}{{ a.profile.photo }}" class="card-img-top" alt="Card image cap"
  style="height: 15rem;">
  <div class="card-body">
    <h5 class="card-title">&nbsp;&nbsp;&nbsp;&nbsp;{{ a.profile.fullname }}</h5>

    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>Roll No:</b>&nbsp;{{ a.user.username }}</li>
      <li class="list-group-item"><b>Department:</b>&nbsp;{{ a.profile.department }}</li>
    </ul>
    <div class="card-block">
<center><a href="{{ MEDIA_URL }}{% if a.ncv %}{{ a.ncv }}{% else %}{{ a.profile.cv }}{% endif %}" class="card-link" target="_blank">Curriculum Vitae(CV)</a><br>
        <center><a href="{{ MEDIA_URL }}{{ a.profile.transcript }}" class="card-link">Grade Card</a><br>
          <a href="{% url 'ftp:full_details' app_id=a.id %}" class="card-link">SOP & Full
            Details</a>
          </center>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}

    {% for a in appis %}
    {% if a.reviewed and a.priority == '3' %}
    <!--<div class="col-sm-3">
  }
  <div class="card" style="width: 15rem; margin-bottom: 5vh;">
  <img src="{{ MEDIA_URL }}{{ a.profile.photo }}" class="card-img-top"  alt="Card image cap" style="height: 15rem;">
  <div class="card-block">
  <h4 class="card-title">{{ a.profile.department }}</h4>
  <p class="card-text"></p>
</div>
<ul class="list-group list-group-flush">
<li class="list-group-item"><b>Name:</b>&nbsp;{{ a.profile.fullname }}</li>
<li class="list-group-item"><b>Roll No:</b>&nbsp;{{ a.user.username }}</li>
<li class="list-group-item"><b>Department:</b>&nbsp;{{ a.profile.department }}</li>
</ul>

<div class="card-block">
<center><a href="{{ MEDIA_URL }}{{ a.profile.cv }}" class="card-link">Curriculum Vitae (CV)</a><br>
<center><a href="{{ MEDIA_URL }}{{ a.profile.transcript }}" class="card-link">Grade Card</a><br>
<a href="{% url 'ftp:full_details' app_id=a.id %}" class="card-link">SOP & Full Details</a>
</center>
</div>
</div>
</div>
<div class="col-sm-1">
</div>

-->
<div class="card" style="width: 18rem; margin: 5vh">
  <img src="{{ MEDIA_URL }}{{ a.profile.photo }}" class="card-img-top" alt="Card image cap"
  style="height: 15rem;">
  <div class="card-body">
    <h5 class="card-title">&nbsp;&nbsp;&nbsp;&nbsp;{{ a.profile.fullname }}</h5>

    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>Roll No:</b>&nbsp;{{ a.user.username }}</li>
      <li class="list-group-item"><b>Department:</b>&nbsp;{{ a.profile.department }}</li>
    </ul>
    <div class="card-block">
<center><a href="{{ MEDIA_URL }}{% if a.ncv %}{{ a.ncv }}{% else %}{{ a.profile.cv }}{% endif %}" class="card-link" target="_blank">Curriculum Vitae(CV)</a><br>
        <center><a href="{{ MEDIA_URL }}{{ a.profile.transcript }}" class="card-link">Grade Card</a><br>
          <a href="{% url 'ftp:full_details' app_id=a.id %}" class="card-link">SOP & Full
            Details</a>
          </center>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}

    {% for a in appis %}
    {% if a.reviewed and a.priority == '4' %}
    <!--<div class="col-sm-3">
  }
  <div class="card" style="width: 15rem; margin-bottom: 5vh;">
  <img src="{{ MEDIA_URL }}{{ a.profile.photo }}" class="card-img-top"  alt="Card image cap" style="height: 15rem;">
  <div class="card-block">
  <h4 class="card-title">{{ a.profile.department }}</h4>
  <p class="card-text"></p>
</div>
<ul class="list-group list-group-flush">
<li class="list-group-item"><b>Name:</b>&nbsp;{{ a.profile.fullname }}</li>
<li class="list-group-item"><b>Roll No:</b>&nbsp;{{ a.user.username }}</li>
<li class="list-group-item"><b>Department:</b>&nbsp;{{ a.profile.department }}</li>
</ul>

<div class="card-block">
<center><a href="{{ MEDIA_URL }}{{ a.profile.cv }}" class="card-link">Curriculum Vitae (CV)</a><br>
<center><a href="{{ MEDIA_URL }}{{ a.profile.transcript }}" class="card-link">Grade Card</a><br>
<a href="{% url 'ftp:full_details' app_id=a.id %}" class="card-link">SOP & Full Details</a>
</center>
</div>
</div>
</div>
<div class="col-sm-1">
</div>

-->
<div class="card" style="width: 18rem; margin: 5vh">
  <img src="{{ MEDIA_URL }}{{ a.profile.photo }}" class="card-img-top" alt="Card image cap"
  style="height: 15rem;">
  <div class="card-body">
    <h5 class="card-title">&nbsp;&nbsp;&nbsp;&nbsp;{{ a.profile.fullname }}</h5>

    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>Roll No:</b>&nbsp;{{ a.user.username }}</li>
      <li class="list-group-item"><b>Department:</b>&nbsp;{{ a.profile.department }}</li>
    </ul>
    <div class="card-block">
<center><a href="{{ MEDIA_URL }}{% if a.ncv %}{{ a.ncv }}{% else %}{{ a.profile.cv }}{% endif %}" class="card-link" target="_blank">Curriculum Vitae(CV)</a><br>
        <center><a href="{{ MEDIA_URL }}{{ a.profile.transcript }}" class="card-link">Grade Card</a><br>
          <a href="{% url 'ftp:full_details' app_id=a.id %}" class="card-link">SOP & Full
            Details</a>
          </center>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}

    {% for a in appis %}
    {% if a.reviewed and a.priority == '5' %}
    <!--<div class="col-sm-3">
  }
  <div class="card" style="width: 15rem; margin-bottom: 5vh;">
  <img src="{{ MEDIA_URL }}{{ a.profile.photo }}" class="card-img-top"  alt="Card image cap" style="height: 15rem;">
  <div class="card-block">
  <h4 class="card-title">{{ a.profile.department }}</h4>
  <p class="card-text"></p>
</div>
<ul class="list-group list-group-flush">
<li class="list-group-item"><b>Name:</b>&nbsp;{{ a.profile.fullname }}</li>
<li class="list-group-item"><b>Roll No:</b>&nbsp;{{ a.user.username }}</li>
<li class="list-group-item"><b>Department:</b>&nbsp;{{ a.profile.department }}</li>
</ul>

<div class="card-block">
<center><a href="{{ MEDIA_URL }}{{ a.profile.cv }}" class="card-link">Curriculum Vitae (CV)</a><br>
<center><a href="{{ MEDIA_URL }}{{ a.profile.transcript }}" class="card-link">Grade Card</a><br>
<a href="{% url 'ftp:full_details' app_id=a.id %}" class="card-link">SOP & Full Details</a>
</center>
</div>
</div>
</div>
<div class="col-sm-1">
</div>

-->
<div class="card" style="width: 18rem; margin: 5vh">
  <img src="{{ MEDIA_URL }}{{ a.profile.photo }}" class="card-img-top" alt="Card image cap"
  style="height: 15rem;">
  <div class="card-body">
    <h5 class="card-title">&nbsp;&nbsp;&nbsp;&nbsp;{{ a.profile.fullname }}</h5>

    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>Roll No:</b>&nbsp;{{ a.user.username }}</li>
      <li class="list-group-item"><b>Department:</b>&nbsp;{{ a.profile.department }}</li>
    </ul>
    <div class="card-block">
<center><a href="{{ MEDIA_URL }}{% if a.ncv %}{{ a.ncv }}{% else %}{{ a.profile.cv }}{% endif %}" class="card-link" target="_blank">Curriculum Vitae(CV)</a><br>
        <center><a href="{{ MEDIA_URL }}{{ a.profile.transcript }}" class="card-link">Grade Card</a><br>
          <a href="{% url 'ftp:full_details' app_id=a.id %}" class="card-link">SOP & Full
            Details</a>
          </center>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}

    {% for a in appis %}
    {% if a.reviewed and a.priority == '6' %}
    <!--<div class="col-sm-3">
  }
  <div class="card" style="width: 15rem; margin-bottom: 5vh;">
  <img src="{{ MEDIA_URL }}{{ a.profile.photo }}" class="card-img-top"  alt="Card image cap" style="height: 15rem;">
  <div class="card-block">
  <h4 class="card-title">{{ a.profile.department }}</h4>
  <p class="card-text"></p>
</div>
<ul class="list-group list-group-flush">
<li class="list-group-item"><b>Name:</b>&nbsp;{{ a.profile.fullname }}</li>
<li class="list-group-item"><b>Roll No:</b>&nbsp;{{ a.user.username }}</li>
<li class="list-group-item"><b>Department:</b>&nbsp;{{ a.profile.department }}</li>
</ul>

<div class="card-block">
<center><a href="{{ MEDIA_URL }}{{ a.profile.cv }}" class="card-link">Curriculum Vitae (CV)</a><br>
<center><a href="{{ MEDIA_URL }}{{ a.profile.transcript }}" class="card-link">Grade Card</a><br>
<a href="{% url 'ftp:full_details' app_id=a.id %}" class="card-link">SOP & Full Details</a>
</center>
</div>
</div>
</div>
<div class="col-sm-1">
</div>

-->
<div class="card" style="width: 18rem; margin: 5vh">
  <img src="{{ MEDIA_URL }}{{ a.profile.photo }}" class="card-img-top" alt="Card image cap"
  style="height: 15rem;">
  <div class="card-body">
    <h5 class="card-title">&nbsp;&nbsp;&nbsp;&nbsp;{{ a.profile.fullname }}</h5>

    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>Roll No:</b>&nbsp;{{ a.user.username }}</li>
      <li class="list-group-item"><b>Department:</b>&nbsp;{{ a.profile.department }}</li>
    </ul>
    <div class="card-block">
<center><a href="{{ MEDIA_URL }}{% if a.ncv %}{{ a.ncv }}{% else %}{{ a.profile.cv }}{% endif %}" class="card-link" target="_blank">Curriculum Vitae(CV)</a><br>
        <center><a href="{{ MEDIA_URL }}{{ a.profile.transcript }}" class="card-link">Grade Card</a><br>
          <a href="{% url 'ftp:full_details' app_id=a.id %}" class="card-link">SOP & Full
            Details</a>
          </center>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}

    {% for a in appis %}
    {% if a.reviewed and a.priority == '7' %}
    <!--<div class="col-sm-3">
  }
  <div class="card" style="width: 15rem; margin-bottom: 5vh;">
  <img src="{{ MEDIA_URL }}{{ a.profile.photo }}" class="card-img-top"  alt="Card image cap" style="height: 15rem;">
  <div class="card-block">
  <h4 class="card-title">{{ a.profile.department }}</h4>
  <p class="card-text"></p>
</div>
<ul class="list-group list-group-flush">
<li class="list-group-item"><b>Name:</b>&nbsp;{{ a.profile.fullname }}</li>
<li class="list-group-item"><b>Roll No:</b>&nbsp;{{ a.user.username }}</li>
<li class="list-group-item"><b>Department:</b>&nbsp;{{ a.profile.department }}</li>
</ul>

<div class="card-block">
<center><a href="{{ MEDIA_URL }}{{ a.profile.cv }}" class="card-link">Curriculum Vitae (CV)</a><br>
<center><a href="{{ MEDIA_URL }}{{ a.profile.transcript }}" class="card-link">Grade Card</a><br>
<a href="{% url 'ftp:full_details' app_id=a.id %}" class="card-link">SOP & Full Details</a>
</center>
</div>
</div>
</div>
<div class="col-sm-1">
</div>

-->
<div class="card" style="width: 18rem; margin: 5vh">
  <img src="{{ MEDIA_URL }}{{ a.profile.photo }}" class="card-img-top" alt="Card image cap"
  style="height: 15rem;">
  <div class="card-body">
    <h5 class="card-title">&nbsp;&nbsp;&nbsp;&nbsp;{{ a.profile.fullname }}</h5>

    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>Roll No:</b>&nbsp;{{ a.user.username }}</li>
      <li class="list-group-item"><b>Department:</b>&nbsp;{{ a.profile.department }}</li>
    </ul>
    <div class="card-block">
<center><a href="{{ MEDIA_URL }}{% if a.ncv %}{{ a.ncv }}{% else %}{{ a.profile.cv }}{% endif %}" class="card-link" target="_blank">Curriculum Vitae(CV)</a><br>
        <center><a href="{{ MEDIA_URL }}{{ a.profile.transcript }}" class="card-link">Grade Card</a><br>
          <a href="{% url 'ftp:full_details' app_id=a.id %}" class="card-link">SOP & Full
            Details</a>
          </center>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}

    {% for a in appis %}
    {% if a.reviewed and a.priority == '8' %}
    <!--<div class="col-sm-3">
  }
  <div class="card" style="width: 15rem; margin-bottom: 5vh;">
  <img src="{{ MEDIA_URL }}{{ a.profile.photo }}" class="card-img-top"  alt="Card image cap" style="height: 15rem;">
  <div class="card-block">
  <h4 class="card-title">{{ a.profile.department }}</h4>
  <p class="card-text"></p>
</div>
<ul class="list-group list-group-flush">
<li class="list-group-item"><b>Name:</b>&nbsp;{{ a.profile.fullname }}</li>
<li class="list-group-item"><b>Roll No:</b>&nbsp;{{ a.user.username }}</li>
<li class="list-group-item"><b>Department:</b>&nbsp;{{ a.profile.department }}</li>
</ul>

<div class="card-block">
<center><a href="{{ MEDIA_URL }}{{ a.profile.cv }}" class="card-link">Curriculum Vitae (CV)</a><br>
<center><a href="{{ MEDIA_URL }}{{ a.profile.transcript }}" class="card-link">Grade Card</a><br>
<a href="{% url 'ftp:full_details' app_id=a.id %}" class="card-link">SOP & Full Details</a>
</center>
</div>
</div>
</div>
<div class="col-sm-1">
</div>

-->
<div class="card" style="width: 18rem; margin: 5vh">
  <img src="{{ MEDIA_URL }}{{ a.profile.photo }}" class="card-img-top" alt="Card image cap"
  style="height: 15rem;">
  <div class="card-body">
    <h5 class="card-title">&nbsp;&nbsp;&nbsp;&nbsp;{{ a.profile.fullname }}</h5>

    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>Roll No:</b>&nbsp;{{ a.user.username }}</li>
      <li class="list-group-item"><b>Department:</b>&nbsp;{{ a.profile.department }}</li>
    </ul>
    <div class="card-block">
<center><a href="{{ MEDIA_URL }}{% if a.ncv %}{{ a.ncv }}{% else %}{{ a.profile.cv }}{% endif %}" class="card-link" target="_blank">Curriculum Vitae(CV)</a><br>
        <center><a href="{{ MEDIA_URL }}{{ a.profile.transcript }}" class="card-link">Grade Card</a><br>
          <a href="{% url 'ftp:full_details' app_id=a.id %}" class="card-link">SOP & Full
            Details</a>
          </center>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}

    {% for a in appis %}
    {% if a.reviewed and a.priority == '9' %}
    <!--<div class="col-sm-3">
  }
  <div class="card" style="width: 15rem; margin-bottom: 5vh;">
  <img src="{{ MEDIA_URL }}{{ a.profile.photo }}" class="card-img-top"  alt="Card image cap" style="height: 15rem;">
  <div class="card-block">
  <h4 class="card-title">{{ a.profile.department }}</h4>
  <p class="card-text"></p>
</div>
<ul class="list-group list-group-flush">
<li class="list-group-item"><b>Name:</b>&nbsp;{{ a.profile.fullname }}</li>
<li class="list-group-item"><b>Roll No:</b>&nbsp;{{ a.user.username }}</li>
<li class="list-group-item"><b>Department:</b>&nbsp;{{ a.profile.department }}</li>
</ul>

<div class="card-block">
<center><a href="{{ MEDIA_URL }}{{ a.profile.cv }}" class="card-link">Curriculum Vitae (CV)</a><br>
<center><a href="{{ MEDIA_URL }}{{ a.profile.transcript }}" class="card-link">Grade Card</a><br>
<a href="{% url 'ftp:full_details' app_id=a.id %}" class="card-link">SOP & Full Details</a>
</center>
</div>
</div>
</div>
<div class="col-sm-1">
</div>

-->
<div class="card" style="width: 18rem; margin: 5vh">
  <img src="{{ MEDIA_URL }}{{ a.profile.photo }}" class="card-img-top" alt="Card image cap"
  style="height: 15rem;">
  <div class="card-body">
    <h5 class="card-title">&nbsp;&nbsp;&nbsp;&nbsp;{{ a.profile.fullname }}</h5>

    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>Roll No:</b>&nbsp;{{ a.user.username }}</li>
      <li class="list-group-item"><b>Department:</b>&nbsp;{{ a.profile.department }}</li>
    </ul>
    <div class="card-block">
<center><a href="{{ MEDIA_URL }}{% if a.ncv %}{{ a.ncv }}{% else %}{{ a.profile.cv }}{% endif %}" class="card-link" target="_blank">Curriculum Vitae(CV)</a><br>
        <center><a href="{{ MEDIA_URL }}{{ a.profile.transcript }}" class="card-link">Grade Card</a><br>
          <a href="{% url 'ftp:full_details' app_id=a.id %}" class="card-link">SOP & Full
            Details</a>
          </center>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}

    {% for a in appis %}
    {% if a.reviewed and a.priority == '10' %}
    <!--<div class="col-sm-3">
  }
  <div class="card" style="width: 15rem; margin-bottom: 5vh;">
  <img src="{{ MEDIA_URL }}{{ a.profile.photo }}" class="card-img-top"  alt="Card image cap" style="height: 15rem;">
  <div class="card-block">
  <h4 class="card-title">{{ a.profile.department }}</h4>
  <p class="card-text"></p>
</div>
<ul class="list-group list-group-flush">
<li class="list-group-item"><b>Name:</b>&nbsp;{{ a.profile.fullname }}</li>
<li class="list-group-item"><b>Roll No:</b>&nbsp;{{ a.user.username }}</li>
<li class="list-group-item"><b>Department:</b>&nbsp;{{ a.profile.department }}</li>
</ul>

<div class="card-block">
<center><a href="{{ MEDIA_URL }}{{ a.profile.cv }}" class="card-link">Curriculum Vitae (CV)</a><br>
<center><a href="{{ MEDIA_URL }}{{ a.profile.transcript }}" class="card-link">Grade Card</a><br>
<a href="{% url 'ftp:full_details' app_id=a.id %}" class="card-link">SOP & Full Details</a>
</center>
</div>
</div>
</div>
<div class="col-sm-1">
</div>

-->
<div class="card" style="width: 18rem; margin: 5vh">
  <img src="{{ MEDIA_URL }}{{ a.profile.photo }}" class="card-img-top" alt="Card image cap"
  style="height: 15rem;">
  <div class="card-body">
    <h5 class="card-title">&nbsp;&nbsp;&nbsp;&nbsp;{{ a.profile.fullname }}</h5>

    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>Roll No:</b>&nbsp;{{ a.user.username }}</li>
      <li class="list-group-item"><b>Department:</b>&nbsp;{{ a.profile.department }}</li>
    </ul>
    <div class="card-block">
<center><a href="{{ MEDIA_URL }}{% if a.ncv %}{{ a.ncv }}{% else %}{{ a.profile.cv }}{% endif %}" class="card-link" target="_blank">Curriculum Vitae(CV)</a><br>
        <center><a href="{{ MEDIA_URL }}{{ a.profile.transcript }}" class="card-link">Grade Card</a><br>
          <a href="{% url 'ftp:full_details' app_id=a.id %}" class="card-link">SOP & Full
            Details</a>
          </center>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}

    {% for a in appis %}
    {% if a.reviewed and a.priority == '11' %}
    <!--<div class="col-sm-3">
  }
  <div class="card" style="width: 15rem; margin-bottom: 5vh;">
  <img src="{{ MEDIA_URL }}{{ a.profile.photo }}" class="card-img-top"  alt="Card image cap" style="height: 15rem;">
  <div class="card-block">
  <h4 class="card-title">{{ a.profile.department }}</h4>
  <p class="card-text"></p>
</div>
<ul class="list-group list-group-flush">
<li class="list-group-item"><b>Name:</b>&nbsp;{{ a.profile.fullname }}</li>
<li class="list-group-item"><b>Roll No:</b>&nbsp;{{ a.user.username }}</li>
<li class="list-group-item"><b>Department:</b>&nbsp;{{ a.profile.department }}</li>
</ul>

<div class="card-block">
<center><a href="{{ MEDIA_URL }}{{ a.profile.cv }}" class="card-link">Curriculum Vitae (CV)</a><br>
<center><a href="{{ MEDIA_URL }}{{ a.profile.transcript }}" class="card-link">Grade Card</a><br>
<a href="{% url 'ftp:full_details' app_id=a.id %}" class="card-link">SOP & Full Details</a>
</center>
</div>
</div>
</div>
<div class="col-sm-1">
</div>

-->
<div class="card" style="width: 18rem; margin: 5vh">
  <img src="{{ MEDIA_URL }}{{ a.profile.photo }}" class="card-img-top" alt="Card image cap"
  style="height: 15rem;">
  <div class="card-body">
    <h5 class="card-title">&nbsp;&nbsp;&nbsp;&nbsp;{{ a.profile.fullname }}</h5>

    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>Roll No:</b>&nbsp;{{ a.user.username }}</li>
      <li class="list-group-item"><b>Department:</b>&nbsp;{{ a.profile.department }}</li>
    </ul>
    <div class="card-block">
<center><a href="{{ MEDIA_URL }}{% if a.ncv %}{{ a.ncv }}{% else %}{{ a.profile.cv }}{% endif %}" class="card-link" target="_blank">Curriculum Vitae(CV)</a><br>
        <center><a href="{{ MEDIA_URL }}{{ a.profile.transcript }}" class="card-link">Grade Card</a><br>
          <a href="{% url 'ftp:full_details' app_id=a.id %}" class="card-link">SOP & Full
            Details</a>
          </center>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}

    {% for a in appis %}
    {% if a.reviewed and a.priority == '12' %}
    <!--<div class="col-sm-3">
  }
  <div class="card" style="width: 15rem; margin-bottom: 5vh;">
  <img src="{{ MEDIA_URL }}{{ a.profile.photo }}" class="card-img-top"  alt="Card image cap" style="height: 15rem;">
  <div class="card-block">
  <h4 class="card-title">{{ a.profile.department }}</h4>
  <p class="card-text"></p>
</div>
<ul class="list-group list-group-flush">
<li class="list-group-item"><b>Name:</b>&nbsp;{{ a.profile.fullname }}</li>
<li class="list-group-item"><b>Roll No:</b>&nbsp;{{ a.user.username }}</li>
<li class="list-group-item"><b>Department:</b>&nbsp;{{ a.profile.department }}</li>
</ul>

<div class="card-block">
<center><a href="{{ MEDIA_URL }}{{ a.profile.cv }}" class="card-link">Curriculum Vitae (CV)</a><br>
<center><a href="{{ MEDIA_URL }}{{ a.profile.transcript }}" class="card-link">Grade Card</a><br>
<a href="{% url 'ftp:full_details' app_id=a.id %}" class="card-link">SOP & Full Details</a>
</center>
</div>
</div>
</div>
<div class="col-sm-1">
</div>

-->
<div class="card" style="width: 18rem; margin: 5vh">
  <img src="{{ MEDIA_URL }}{{ a.profile.photo }}" class="card-img-top" alt="Card image cap"
  style="height: 15rem;">
  <div class="card-body">
    <h5 class="card-title">&nbsp;&nbsp;&nbsp;&nbsp;{{ a.profile.fullname }}</h5>

    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>Roll No:</b>&nbsp;{{ a.user.username }}</li>
      <li class="list-group-item"><b>Department:</b>&nbsp;{{ a.profile.department }}</li>
    </ul>
    <div class="card-block">
<center><a href="{{ MEDIA_URL }}{% if a.ncv %}{{ a.ncv }}{% else %}{{ a.profile.cv }}{% endif %}" class="card-link" target="_blank">Curriculum Vitae(CV)</a><br>
        <center><a href="{{ MEDIA_URL }}{{ a.profile.transcript }}" class="card-link">Grade Card</a><br>
          <a href="{% url 'ftp:full_details' app_id=a.id %}" class="card-link">SOP & Full
            Details</a>
          </center>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}

    {% for a in appis %}
    {% if a.reviewed and a.priority == '13' %}
    <!--<div class="col-sm-3">
  }
  <div class="card" style="width: 15rem; margin-bottom: 5vh;">
  <img src="{{ MEDIA_URL }}{{ a.profile.photo }}" class="card-img-top"  alt="Card image cap" style="height: 15rem;">
  <div class="card-block">
  <h4 class="card-title">{{ a.profile.department }}</h4>
  <p class="card-text"></p>
</div>
<ul class="list-group list-group-flush">
<li class="list-group-item"><b>Name:</b>&nbsp;{{ a.profile.fullname }}</li>
<li class="list-group-item"><b>Roll No:</b>&nbsp;{{ a.user.username }}</li>
<li class="list-group-item"><b>Department:</b>&nbsp;{{ a.profile.department }}</li>
</ul>

<div class="card-block">
<center><a href="{{ MEDIA_URL }}{{ a.profile.cv }}" class="card-link">Curriculum Vitae (CV)</a><br>
<center><a href="{{ MEDIA_URL }}{{ a.profile.transcript }}" class="card-link">Grade Card</a><br>
<a href="{% url 'ftp:full_details' app_id=a.id %}" class="card-link">SOP & Full Details</a>
</center>
</div>
</div>
</div>
<div class="col-sm-1">
</div>

-->
<div class="card" style="width: 18rem; margin: 5vh">
  <img src="{{ MEDIA_URL }}{{ a.profile.photo }}" class="card-img-top" alt="Card image cap"
  style="height: 15rem;">
  <div class="card-body">
    <h5 class="card-title">&nbsp;&nbsp;&nbsp;&nbsp;{{ a.profile.fullname }}</h5>

    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>Roll No:</b>&nbsp;{{ a.user.username }}</li>
      <li class="list-group-item"><b>Department:</b>&nbsp;{{ a.profile.department }}</li>
    </ul>
    <div class="card-block">
<center><a href="{{ MEDIA_URL }}{% if a.ncv %}{{ a.ncv }}{% else %}{{ a.profile.cv }}{% endif %}" class="card-link" target="_blank">Curriculum Vitae(CV)</a><br>
        <center><a href="{{ MEDIA_URL }}{{ a.profile.transcript }}" class="card-link">Grade Card</a><br>
          <a href="{% url 'ftp:full_details' app_id=a.id %}" class="card-link">SOP & Full
            Details</a>
          </center>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}

    {% for a in appis %}
    {% if a.reviewed and a.priority == '14' %}
    <!--<div class="col-sm-3">
  }
  <div class="card" style="width: 15rem; margin-bottom: 5vh;">
  <img src="{{ MEDIA_URL }}{{ a.profile.photo }}" class="card-img-top"  alt="Card image cap" style="height: 15rem;">
  <div class="card-block">
  <h4 class="card-title">{{ a.profile.department }}</h4>
  <p class="card-text"></p>
</div>
<ul class="list-group list-group-flush">
<li class="list-group-item"><b>Name:</b>&nbsp;{{ a.profile.fullname }}</li>
<li class="list-group-item"><b>Roll No:</b>&nbsp;{{ a.user.username }}</li>
<li class="list-group-item"><b>Department:</b>&nbsp;{{ a.profile.department }}</li>
</ul>

<div class="card-block">
<center><a href="{{ MEDIA_URL }}{{ a.profile.cv }}" class="card-link">Curriculum Vitae (CV)</a><br>
<center><a href="{{ MEDIA_URL }}{{ a.profile.transcript }}" class="card-link">Grade Card</a><br>
<a href="{% url 'ftp:full_details' app_id=a.id %}" class="card-link">SOP & Full Details</a>
</center>
</div>
</div>
</div>
<div class="col-sm-1">
</div>

-->
<div class="card" style="width: 18rem; margin: 5vh">
  <img src="{{ MEDIA_URL }}{{ a.profile.photo }}" class="card-img-top" alt="Card image cap"
  style="height: 15rem;">
  <div class="card-body">
    <h5 class="card-title">&nbsp;&nbsp;&nbsp;&nbsp;{{ a.profile.fullname }}</h5>

    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>Roll No:</b>&nbsp;{{ a.user.username }}</li>
      <li class="list-group-item"><b>Department:</b>&nbsp;{{ a.profile.department }}</li>
    </ul>
    <div class="card-block">
<center><a href="{{ MEDIA_URL }}{% if a.ncv %}{{ a.ncv }}{% else %}{{ a.profile.cv }}{% endif %}" class="card-link" target="_blank">Curriculum Vitae(CV)</a><br>
        <center><a href="{{ MEDIA_URL }}{{ a.profile.transcript }}" class="card-link">Grade Card</a><br>
          <a href="{% url 'ftp:full_details' app_id=a.id %}" class="card-link">SOP & Full
            Details</a>
          </center>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}

    {% for a in appis %}
    {% if a.reviewed and a.priority == '15' %}
    <!--<div class="col-sm-3">
  }
  <div class="card" style="width: 15rem; margin-bottom: 5vh;">
  <img src="{{ MEDIA_URL }}{{ a.profile.photo }}" class="card-img-top"  alt="Card image cap" style="height: 15rem;">
  <div class="card-block">
  <h4 class="card-title">{{ a.profile.department }}</h4>
  <p class="card-text"></p>
</div>
<ul class="list-group list-group-flush">
<li class="list-group-item"><b>Name:</b>&nbsp;{{ a.profile.fullname }}</li>
<li class="list-group-item"><b>Roll No:</b>&nbsp;{{ a.user.username }}</li>
<li class="list-group-item"><b>Department:</b>&nbsp;{{ a.profile.department }}</li>
</ul>

<div class="card-block">
<center><a href="{{ MEDIA_URL }}{{ a.profile.cv }}" class="card-link">Curriculum Vitae (CV)</a><br>
<center><a href="{{ MEDIA_URL }}{{ a.profile.transcript }}" class="card-link">Grade Card</a><br>
<a href="{% url 'ftp:full_details' app_id=a.id %}" class="card-link">SOP & Full Details</a>
</center>
</div>
</div>
</div>
<div class="col-sm-1">
</div>

-->
<div class="card" style="width: 18rem; margin: 5vh">
  <img src="{{ MEDIA_URL }}{{ a.profile.photo }}" class="card-img-top" alt="Card image cap"
  style="height: 15rem;">
  <div class="card-body">
    <h5 class="card-title">&nbsp;&nbsp;&nbsp;&nbsp;{{ a.profile.fullname }}</h5>

    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>Roll No:</b>&nbsp;{{ a.user.username }}</li>
      <li class="list-group-item"><b>Department:</b>&nbsp;{{ a.profile.department }}</li>
    >

    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>Roll No:</b>&nbsp;{{ a.user.username }}</li>
      <li class="list-group-item"><b>Department:</b>&nbsp;{{ a.profile.department }}</li>
    </ul>
    <div class="card-block">
      <center><a href="{{ MEDIA_URL }}{% if a.ncv %}{{ a.ncv }}{% else %}{{ a.profile.cv }}{% endif %}" class="card-link" target="_blank">Curriculum Vitae(CV)</a><br>
        <center><a href="{{ MEDIA_URL }}{{ a.profile.transcript }}" class="card-link">Grade Card</a><br>
          <a href="{% url 'ftp:full_details' app_id=a.id %}" class="card-link">SOP & Full
            Details</a>
          </center>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}

    {% for a in appis %}
    {% if a.reviewed and a.priority == '16' %}
    <!--<div class="col-sm-3">
  }
  <div class="card" style="width: 15rem; margin-bottom: 5vh;">
  <img src="{{ MEDIA_URL }}{{ a.profile.photo }}" class="card-img-top"  alt="Card image cap" style="height: 15rem;">
  <div class="card-block">
  <h4 class="card-title">{{ a.profile.department }}</h4>
  <p class="card-text"></p>
</div>
<ul class="list-group list-group-flush">
<li class="list-group-item"><b>Name:</b>&nbsp;{{ a.profile.fullname }}</li>
<li class="list-group-item"><b>Roll No:</b>&nbsp;{{ a.user.username }}</li>
<li class="list-group-item"><b>Department:</b>&nbsp;{{ a.profile.department }}</li>
</ul>

<div class="card-block">
<center><a href="{{ MEDIA_URL }}{{ a.profile.cv }}" class="card-link">Curriculum Vitae (CV)</a><br>
<center><a href="{{ MEDIA_URL }}{{ a.profile.transcript }}" class="card-link">Grade Card</a><br>
<a href="{% url 'ftp:full_details' app_id=a.id %}" class="card-link">SOP & Full Details</a>
</center>
</div>
</div>
</div>
<div class="col-sm-1">
</div>

-->
<div class="card" style="width: 18rem; margin: 5vh">
  <img src="{{ MEDIA_URL }}{{ a.profile.photo }}" class="card-img-top" alt="Card image cap"
  style="height: 15rem;">
  <div class="card-body">
    <h5 class="card-title">&nbsp;&nbsp;&nbsp;&nbsp;{{ a.profile.fullname }}</h5>

    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>Roll No:</b>&nbsp;{{ a.user.username }}</li>
      <li class="list-group-item"><b>Department:</b>&nbsp;{{ a.profile.department }}</li>
    </ul>
    <div class="card-block">
      <center><a href="{{ MEDIA_URL }}{% if a.ncv %}{{ a.ncv }}{% else %}{{ a.profile.cv }}{% endif %}" class="card-link" target="_blank">Curriculum Vitae(CV)</a><br>
        <center><a href="{{ MEDIA_URL }}{{ a.profile.transcript }}" class="card-link">Grade Card</a><br>
          <a href="{% url 'ftp:full_details' app_id=a.id %}" class="card-link">SOP & Full
            Details</a>
          </center>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}

    {% for a in appis %}
    {% if a.reviewed and a.priority == '17' %}
    <!--<div class="col-sm-3">
  }
  <div class="card" style="width: 15rem; margin-bottom: 5vh;">
  <img src="{{ MEDIA_URL }}{{ a.profile.photo }}" class="card-img-top"  alt="Card image cap" style="height: 15rem;">
  <div class="card-block">
  <h4 class="card-title">{{ a.profile.department }}</h4>
  <p class="card-text"></p>
</div>
<ul class="list-group list-group-flush">
<li class="list-group-item"><b>Name:</b>&nbsp;{{ a.profile.fullname }}</li>
<li class="list-group-item"><b>Roll No:</b>&nbsp;{{ a.user.username }}</li>
<li class="list-group-item"><b>Department:</b>&nbsp;{{ a.profile.department }}</li>
</ul>

<div class="card-block">
<center><a href="{{ MEDIA_URL }}{{ a.profile.cv }}" class="card-link">Curriculum Vitae (CV)</a><br>
<center><a href="{{ MEDIA_URL }}{{ a.profile.transcript }}" class="card-link">Grade Card</a><br>
<a href="{% url 'ftp:full_details' app_id=a.id %}" class="card-link">SOP & Full Details</a>
</center>
</div>
</div>
</div>
<div class="col-sm-1">
</div>

-->
<div class="card" style="width: 18rem; margin: 5vh">
  <img src="{{ MEDIA_URL }}{{ a.profile.photo }}" class="card-img-top" alt="Card image cap"
  style="height: 15rem;">
  <div class="card-body">
    <h5 class="card-title">&nbsp;&nbsp;&nbsp;&nbsp;{{ a.profile.fullname }}</h5>

    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>Roll No:</b>&nbsp;{{ a.user.username }}</li>
      <li class="list-group-item"><b>Department:</b>&nbsp;{{ a.profile.department }}</li>
    </ul>
    <div class="card-block">
      <center><a href="{{ MEDIA_URL }}{% if a.ncv %}{{ a.ncv }}{% else %}{{ a.profile.cv }}{% endif %}" class="card-link" target="_blank">Curriculum Vitae(CV)</a><br>
        <center><a href="{{ MEDIA_URL }}{{ a.profile.transcript }}" class="card-link">Grade Card</a><br>
          <a href="{% url 'ftp:full_details' app_id=a.id %}" class="card-link">SOP & Full
            Details</a>
          </center>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}

    {% for a in appis %}
    {% if a.reviewed and a.priority == '18' %}
    <!--<div class="col-sm-3">
  }
  <div class="card" style="width: 15rem; margin-bottom: 5vh;">
  <img src="{{ MEDIA_URL }}{{ a.profile.photo }}" class="card-img-top"  alt="Card image cap" style="height: 15rem;">
  <div class="card-block">
  <h4 class="card-title">{{ a.profile.department }}</h4>
  <p class="card-text"></p>
</div>
<ul class="list-group list-group-flush">
<li class="list-group-item"><b>Name:</b>&nbsp;{{ a.profile.fullname }}</li>
<li class="list-group-item"><b>Roll No:</b>&nbsp;{{ a.user.username }}</li>
<li class="list-group-item"><b>Department:</b>&nbsp;{{ a.profile.department }}</li>
</ul>

<div class="card-block">
<center><a href="{{ MEDIA_URL }}{{ a.profile.cv }}" class="card-link">Curriculum Vitae (CV)</a><br>
<center><a href="{{ MEDIA_URL }}{{ a.profile.transcript }}" class="card-link">Grade Card</a><br>
<a href="{% url 'ftp:full_details' app_id=a.id %}" class="card-link">SOP & Full Details</a>
</center>
</div>
</div>
</div>
<div class="col-sm-1">
</div>

-->
<div class="card" style="width: 18rem; margin: 5vh">
  <img src="{{ MEDIA_URL }}{{ a.profile.photo }}" class="card-img-top" alt="Card image cap"
  style="height: 15rem;">
  <div class="card-body">
    <h5 class="card-title">&nbsp;&nbsp;&nbsp;&nbsp;{{ a.profile.fullname }}</h5>

    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>Roll No:</b>&nbsp;{{ a.user.username }}</li>
      <li class="list-group-item"><b>Department:</b>&nbsp;{{ a.profile.department }}</li>
    </ul>
    <div class="card-block">
      <center><a href="{{ MEDIA_URL }}{% if a.ncv %}{{ a.ncv }}{% else %}{{ a.profile.cv }}{% endif %}" class="card-link" target="_blank">Curriculum Vitae(CV)</a><br>
        <center><a href="{{ MEDIA_URL }}{{ a.profile.transcript }}" class="card-link">Grade Card</a><br>
          <a href="{% url 'ftp:full_details' app_id=a.id %}" class="card-link">SOP & Full
            Details</a>
          </center>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}

    {% for a in appis %}
    {% if a.reviewed and a.priority == '19' %}
    <!--<div class="col-sm-3">
  }
  <div class="card" style="width: 15rem; margin-bottom: 5vh;">
  <img src="{{ MEDIA_URL }}{{ a.profile.photo }}" class="card-img-top"  alt="Card image cap" style="height: 15rem;">
  <div class="card-block">
  <h4 class="card-title">{{ a.profile.department }}</h4>
  <p class="card-text"></p>
</div>
<ul class="list-group list-group-flush">
<li class="list-group-item"><b>Name:</b>&nbsp;{{ a.profile.fullname }}</li>
<li class="list-group-item"><b>Roll No:</b>&nbsp;{{ a.user.username }}</li>
<li class="list-group-item"><b>Department:</b>&nbsp;{{ a.profile.department }}</li>
</ul>

<div class="card-block">
<center><a href="{{ MEDIA_URL }}{{ a.profile.cv }}" class="card-link">Curriculum Vitae (CV)</a><br>
<center><a href="{{ MEDIA_URL }}{{ a.profile.transcript }}" class="card-link">Grade Card</a><br>
<a href="{% url 'ftp:full_details' app_id=a.id %}" class="card-link">SOP & Full Details</a>
</center>
</div>
</div>
</div>
<div class="col-sm-1">
</div>

-->
<div class="card" style="width: 18rem; margin: 5vh">
  <img src="{{ MEDIA_URL }}{{ a.profile.photo }}" class="card-img-top" alt="Card image cap"
  style="height: 15rem;">
  <div class="card-body">
    <h5 class="card-title">&nbsp;&nbsp;&nbsp;&nbsp;{{ a.profile.fullname }}</h5>

    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>Roll No:</b>&nbsp;{{ a.user.username }}</li>
      <li class="list-group-item"><b>Department:</b>&nbsp;{{ a.profile.department }}</li>
    </ul>
    <div class="card-block">
      <center><a href="{{ MEDIA_URL }}{% if a.ncv %}{{ a.ncv }}{% else %}{{ a.profile.cv }}{% endif %}" class="card-link" target="_blank">Curriculum Vitae(CV)</a><br>
        <center><a href="{{ MEDIA_URL }}{{ a.profile.transcript }}" class="card-link">Grade Card</a><br>
          <a href="{% url 'ftp:full_details' app_id=a.id %}" class="card-link">SOP & Full
            Details</a>
          </center>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}

    {% for a in appis %}
    {% if a.reviewed and a.priority == '20' %}
    <!--<div class="col-sm-3">
  }
  <div class="card" style="width: 15rem; margin-bottom: 5vh;">
  <img src="{{ MEDIA_URL }}{{ a.profile.photo }}" class="card-img-top"  alt="Card image cap" style="height: 15rem;">
  <div class="card-block">
  <h4 class="card-title">{{ a.profile.department }}</h4>
  <p class="card-text"></p>
</div>
<ul class="list-group list-group-flush">
<li class="list-group-item"><b>Name:</b>&nbsp;{{ a.profile.fullname }}</li>
<li class="list-group-item"><b>Roll No:</b>&nbsp;{{ a.user.username }}</li>
<li class="list-group-item"><b>Department:</b>&nbsp;{{ a.profile.department }}</li>
</ul>

<div class="card-block">
<center><a href="{{ MEDIA_URL }}{{ a.profile.cv }}" class="card-link">Curriculum Vitae (CV)</a><br>
<center><a href="{{ MEDIA_URL }}{{ a.profile.transcript }}" class="card-link">Grade Card</a><br>
<a href="{% url 'ftp:full_details' app_id=a.id %}" class="card-link">SOP & Full Details</a>
</center>
</div>
</div>
</div>
<div class="col-sm-1">
</div>

-->
<div class="card" style="width: 18rem; margin: 5vh">
  <img src="{{ MEDIA_URL }}{{ a.profile.photo }}" class="card-img-top" alt="Card image cap"
  style="height: 15rem;">
  <div class="card-body">
    <h5 class="card-title">&nbsp;&nbsp;&nbsp;&nbsp;{{ a.profile.fullname }}</h5>

    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>Roll No:</b>&nbsp;{{ a.user.username }}</li>
      <li class="list-group-item"><b>Department:</b>&nbsp;{{ a.profile.department }}</li>
    </ul>
    <div class="card-block">
      <center><a href="{{ MEDIA_URL }}{% if a.ncv %}{{ a.ncv }}{% else %}{{ a.profile.cv }}{% endif %}" class="card-link" target="_blank">Curriculum Vitae(CV)</a><br>
        <center><a href="{{ MEDIA_URL }}{{ a.profile.transcript }}" class="card-link">Grade Card</a><br>
          <a href="{% url 'ftp:full_details' app_id=a.id %}" class="card-link">SOP & Full
            Details</a>
          </center>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}

  </div>
</div>


<hr>
<footer>
  <div class="container" style="padding-top: 30px; padding-bottom: 20px;">
    <div class="row foot">
      <div class="col-lg-1"></div>
      <div class="col-lg-4 foothead">
        <h3>ABOUT US</h3>
        <p>
          International Relations Cell is a Student Body which works closely with Office of International
          Relations, Indian Institute of Technology Kharagpur.
        </p>
      </div>
      <div class="col-lg-4 foothead">
        <h3>REACH OUT TO US</h3>
        <p>
          International Relations Cell<br>
          Indian Institute of Technology Kharagpur<br>
          Kharagpur, West Bengal<br>
          India - 721 302<br>
          Phone: +91 70231 07020<br>
          Email: irc@iitkgp.ac.in
        </p>
      </div>
      <div class="col-lg-3 foothead">
        <h3>SOCIAL LINKS</h3>
        <a href="https://www.facebook.com/IRCIITKGP/?fb_dtsg_ag=Adz8WNZc1QoPw9HjTvTmwan5ySmuaNaVlBauDgpY1ukyHw%3AAdyUMp0BX7nk0MH6uPb-0-KGPhyGK6p7DZip_8l0IDafIA"><i
          class="fa fa-facebook" style="font-size:24px; margin-right: 20px; margin-top: 10px;"></i></a>
          <a href="https://www.linkedin.com/company/international-relations-cell-iit-kharagpur/"><i
            class="fa fa-linkedin" style="font-size:24px; margin-right: 20px; margin-top: 10px;"></i></a>
            <a href="mailto:irc@iitkgp.ac.in"><i class="fa fa-envelope-o"
              style="font-size:24px; margin-right: 20px; margin-top: 10px;"></i></a>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row" style="background-color: white; color: black; height: 60px;">
            <div class="col-md-12" style="text-align: center; padding-top: 17px;">
              Copyright © All Rights Reserved
            </div>
          </div>
        </div>
      </footer>
      <!--=========== END FOOTER SECTION ================-->


    </body>
    </html>
