<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr><th><label for="id_scholarship">Scholarship:</label></th><td><select name="scholarship" id="id_scholarship">
            <option value="" selected>---------</option>
          
            <option value="53bbbd00-bf7a-4f51-b692-acecdeff0963">Shivesh Chaturvedi   
          53bbbd00-bf7a-4f51-b692-acecdeff0963</option>
          
          </select></td></tr>
          <tr><th><label for="id_profile">Profile:</label></th><td><select name="profile" id="id_profile">
            <option value="" selected>---------</option>
          
            <option value="1">shivesh | Shivesh Chaturvedi</option>
          
            <option value="2">Aman | Aman Singh</option>
          
          </select></td></tr>
          <tr><th><label for="id_NameofFacultyAdvisor">NameofFacultyAdvisor:</label></th><td><textarea name="NameofFacultyAdvisor" cols="40" rows="10" maxlength="50000" required id="id_NameofFacultyAdvisor">
          </textarea></td></tr>
          <tr><th><label for="id_NameofHOD">NameofHOD:</label></th><td><textarea name="NameofHOD" cols="40" rows="10" maxlength="50000" required id="id_NameofHOD">
          </textarea></td></tr>
          <tr><th><label for="id_Nameofhostinstitution">Nameofhostinstitution:</label></th><td><input type="text" name="Nameofhostinstitution" maxlength="1000" required id="id_Nameofhostinstitution"></td></tr>
          <tr><th><label for="id_DetailsOfTheProposedResearch_or_professionalInternship">DetailsOfTheProposedResearch or professionalInternship:</label></th><td><input type="text" name="DetailsOfTheProposedResearch_or_professionalInternship" maxlength="5500" required id="id_DetailsOfTheProposedResearch_or_professionalInternship"></td></tr>
          <tr><th><label for="id_sop">Sop:</label></th><td><input type="text" name="sop" maxlength="5500" required id="id_sop"></td></tr>
          <tr><th><label for="id_HistoryOfCollobration">HistoryOfCollobration:</label></th><td><input type="text" name="HistoryOfCollobration" maxlength="10000" id="id_HistoryOfCollobration"></td></tr>
          <tr><th><label for="id_DurationOfVisit_from">DurationOfVisit from:</label></th><td><input type="text" name="DurationOfVisit_from" maxlength="1000" required id="id_DurationOfVisit_from"></td></tr>
          <tr><th><label for="id_DurationOfVisit_to">DurationOfVisit to:</label></th><td><input type="text" name="DurationOfVisit_to" maxlength="1000" required id="id_DurationOfVisit_to"></td></tr>
          <tr><th><label for="id_Justification_of_applying_through_the_IITKGF_Of_USA_AwardProgram">Justification of applying through the IITKGF Of USA AwardProgram:</label></th><td><input type="text" name="Justification_of_applying_through_the_IITKGF_Of_USA_AwardProgram" maxlength="10000" required id="id_Justification_of_applying_through_the_IITKGF_Of_USA_AwardProgram"></td></tr>        
          <tr><th><label for="id_PossibleOutcomeOfYourProposedResearch">PossibleOutcomeOfYourProposedResearch:</label></th><td><input type="text" name="PossibleOutcomeOfYourProposedResearch" maxlength="10000" required id="id_PossibleOutcomeOfYourProposedResearch"></td></tr>
          <tr><th><label for="id_Explain_in_about_250_words_how_your_engagement_with_the_Host_Institute">Explain in about 250 words how your engagement with the Host Institute:</label></th><td><input type="text" name="Explain_in_about_250_words_how_your_engagement_with_the_Host_Institute" maxlength="10000" required id="id_Explain_in_about_250_words_how_your_engagement_with_the_Host_Institute"></td></tr>
          <tr><th><label for="id_cv">Cv:</label></th><td><input type="file" name="cv" 
          id="id_cv"></td></tr>
          <tr><th><label for="id_Awards">Awards:</label></th><td><input type="file" name="Awards" id="id_Awards"></td></tr>
          <tr><th><label for="id_Transcripts">Transcripts:</label></th><td><input type="file" name="Transcripts" id="id_Transcripts"></td></tr>
          <tr><th><label for="id_NOC">NOC:</label></th><td><input type="file" name="NOC" id="id_NOC"></td></tr>
          <tr><th><label for="id_offer_letter">Offer letter:</label></th><td><input type="file" name="offer_letter" id="id_offer_letter"></td></tr>
          <tr><th><label for="id_prev_funding">Prev funding:</label></th><td><input type="checkbox" name="prev_funding" id="id_prev_funding"></td></tr>
          <tr><th><label for="id_fuding_proof">Fuding proof:</label></th><td><input type="file" name="fuding_proof" id="id_fuding_proof"></td></tr>
          <tr><th><label for="id_reviewed">Reviewed:</label></th><td><input type="checkbox" name="reviewed" id="id_reviewed"></td></tr>
          <tr><th><label for="id_display">Display:</label></th><td><input type="checkbox" name="display" id="id_display"></td></tr>
          <tr><th><label for="id_reviewed_by">Reviewed by:</label></th><td><input type="text" name="reviewed_by" maxlength="250" id="id_reviewed_by"></td></tr>   
          
    </table>
</body>
</html>