{% extends 'base.html' %}

{% block outer-text %}
    Upload an excell sheet containing the email-ids of the recievers.<br/>
    Then move to next step.
{% endblock %}
{%  block inner-content %}
<form onsubmit="status_update();" action="{% url 'step2' %}" class="decor" method="POST" enctype="multipart/form-data" >
  {% csrf_token %}
    <div class="form-left-decoration"></div>
    <div class="form-right-decoration"></div>
    <!--<div class="circle"></div>-->
    <div class="form-inner">
      <h1>Email Sender</h1>
      <input class="main" name="sheet" id="sheet" type="file">
      <button type="submit" id="submit" onclick="tinyMCE.triggerSave(true,true);">Submit</button>
    </div>
  </form>
{% endblock %}
{% block js %}
{% endblock %}