{% load static %}
<!DOCTYPE html>
<html>

<head>
   <meta charset="UTF-8" />
   <link rel="shortcut icon" type="image/icon" href="{% static 'ftp/login/logo.png' %}" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />

   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

   <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>

   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

   <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
   <title>{% block title %}{% endblock %}</title>
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link rel="stylesheet" href="{%static 'ftp/login/login.css' %}">

<body>



   <!-- Form Box -->
   {% block content %}
   {% endblock %}


   <script src="{%static 'ftp/login/login.js' %}"></script>
</body>
</head>

</html>