{% extends 'ftp/login/base.html' %}
{% load staticfiles %}

{% block title %}Login | FTP | International Relations Cell{% endblock %}


{% block content %}
<style>
  .container1:before{
    z-index:-6;
  }
</style>
<div class="container1">
      <div class="forms-container">
        <div class="signin-signup">
            <form class="login-form" action="{% url 'ftp:domainresetform' %}" method="POST">
            
            <h2 class="title" style="font-size: 2rem;">Type Your Correct Email ID</h2>
            {% csrf_token %}
            {% if error %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endif %}
            <div class="input-field" style="grid-template-columns: 15% 80% 5%;">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <input type="text" name="username" placeholder="Email Address" required/>
              
             
            </div>
            
            
            <input type="submit" value="Send Link" class="btn solid" style="
    color: white;
    margin-top: 0px;
    margin-bottom: 12px;
">
            
            <div class="social-media">
              <a href="https://www.facebook.com/IRCIITKGP/" target="_blank" class="social-icon">
                <i class="fab fa-facebook-f"></i>
              </a>
              
              <a href="mailto:ftp.ircell@gmail.com" target="_blank" class="social-icon">
                <i class="material-icons">email</i>
              </a>
              <a href="https://www.linkedin.com/company/international-relations-cell-iit-kharagpur/mycompany/" target="_blank" class="social-icon">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </form>
      
        </div>
      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content" style="padding-top: 0px;">
              <div class="imagee"><img id="imagee" src="{%static 'ftp/login/logo.png' %}"></div>
            <h3>FOREIGN TRAINING PROGRAM</h3>
            <p style="
    margin-bottom: 0px;     font-size: 2rem;
">2021-2022</p>
          
          </div>
        </div>
 
      </div> 

      
    </div>


{% endblock %}