{% extends 'ftp/login/base.html' %}
{% load staticfiles %}

{% block title %}Login | FTP | International Relations Cell{% endblock %}


{% block content %}
<style>
  .container1:before{
    z-index:-6;
  }
  .input-group-text{
    border-color: #f0f0f0;
    border-radius: 0px 50px 50px 0px; 
    height: 46px;
  }
</style>
<div class="container1">
      <div class="forms-container">
        <div class="signin-signup">
            <form class="login-form" action="{% url 'ftp:forgotpassword' %}" method="POST" style="width: 75% !important;">
            
            <h2 class="title" style="font-size: 2rem;">Get the Link to reset your password</h2>
            {% csrf_token %}
            {% if error %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endif %}
            <div class="input-field" style="grid-template-columns: 15% 37% 5%; padding-right: 0px !important;">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <input type="text" name="username" placeholder="Email Address" required/>
              <div class="input-group-append" style="border-color: #F0F0F0; height: 100% !important;">
                <span class="input-group-text" id="basic-addon2"
                  style="border-radius: 0px 50px 50px 0px; background-color:#F0F0F0;border: none;">
                  <select name="domain" class="form-group"
                    style="margin-bottom:0;width: 9.5rem;font-size: 0.8rem;background-color: #F0F0F0;border-color: #F0F0F0;outline: none !important;font-weight: bold;">
                    <option style="font-weight: bold;" value="@iitkgp.ac.in">@iitkgp.ac.in</option>
                    <option style="font-weight: bold;" value="@kgpian.iitkgp.ac.in" selected>@kgpian.iitkgp.ac.in</option>
                  </select>
                </span>
              </div>
             
            </div>
            
            <p class="social-text" style="
            margin-bottom: 6px;
            padding-bottom: 0px;
            padding-top: 0px;
        "> Remembered your password? 
                     <a href="{% url 'ftp:login_user' %}" class="registerlink" style="color:#00506B"><strong>Login Here!</strong></a>
                     </p>
            <input type="submit" value="Send Link" class="btn solid" style="
    color: white;
    margin-top: 0px;
    margin-bottom: 12px;
">
            
            <div class="social-media">
              <a href="https://www.facebook.com/IRCIITKGP/" target="_blank" class="social-icon">
                <i class="fab fa-facebook-f"></i>
              </a>
              
              <a href="mailto:ftp.ircell@gmail.com" target="_blank" class="social-icon">
                <i class="material-icons">email</i>
              </a>
              <a href="https://www.linkedin.com/company/international-relations-cell-iit-kharagpur/mycompany/" target="_blank" class="social-icon">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </form>
       <!--      <form class="sign-up-form" action="{% url 'ftp:register' %}" method="POST">
          
            
            <h2 class="title">Sign up</h2>
            {% csrf_token %}
            <div>
                {% if errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            {% if error %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endif %}
            <div class="input-field" style="grid-template-columns: 15% 37% 5%;">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <input type="text" name="username" placeholder="Email Address" required/>
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">
                    <select name="domain" class="form-group" style="margin-bottom:0;width: 9.5rem;font-size: 0.75rem;background-color: #f0f0f0;border: none;text-align-last: right;">
                        <option value="@iitkgp.ac.in" selected>@iitkgp.ac.in</option>
                        <option value="@kgpian.iitkgp.ac.in">@kgpian.iitkgp.ac.in</option>
                    </select>
                </span>
             </div>
            </div>
            
            
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" name="password1" placeholder="Password" required/>
            </div>

            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" name="password2" placeholder="Confirm password" required/>
            </div>

            <input type="submit" class="btn" style="
    color: white;
    margin-bottom: 0px;
" value="Register">
            <p class="social-text" style="
    margin-bottom: 0px;
">Connect with us!</p>
            <div class="social-media">
              <a href="https://www.facebook.com/IRCIITKGP/"target="_blank" class="social-icon">
                <i class="fab fa-facebook-f"></i>
              </a>
              
              <a href="mailto:ftp.ircell@gmail.com" target="_blank" class="social-icon">
                <i class="material-icons">email</i>
              </a>
              <a href="https://www.linkedin.com/company/international-relations-cell-iit-kharagpur/mycompany/" target="_blank" class="social-icon">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </form> -->
        </div>
      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content" style="padding-top: 0px;">
              <div class="imagee"><img id="imagee" src="{%static 'ftp/login/logo.png' %}"></div>
            <h3>FOREIGN TRAINING PROGRAM</h3>
            <p style="
    margin-bottom: 0px;     font-size: 2rem;
">2021-2022</p>
          
          </div>
        </div>
   <!--  <div class="panel right-panel">
          <div class="content">
            <div class="imagee"><img id="imagee" src="{%static 'ftp/login/logo.png' %}"></div>
            <h3>FOREIGN TRAINING PROGRAM</h3>
            <p style="
    margin-bottom: 0px;
">2021-2022</p>
            <button class="btn transparent"  style="
    color: white;
"id="sign-in-btn">
               LOGIN
            </button>
          </div>
        </div>  --> 
      </div> 

      
    </div>


{% endblock %}
