#application {
    width: 100%;
    position: relative;
    text-align: left;
    -webkit-backface-visibility: hidden;
    padding: 150px 80px 100px 80px;
}
@media screen and (max-width:650px) {
    #application {
        padding-left: 40px;
        padding-right: 40px;
    }
}
#application .title.large {
    font-family: Lato;
    font-size: 28px;
    text-transform: uppercase;
    padding-bottom: 16px;
    text-align: center;
}

#application .title.normal {
    font-size: 24px;
    color: #333;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
}

#application .title.small {
    font-size: 20px;
    color: #333;
    font-weight: 700;
}

#application .title.mini {
    font-size: 16px;
    color: #666;
    font-weight: 400
}

#application .title.inline {
    font-size: 16px;
    text-transform: uppercase;
    display: block;
    padding-bottom: 6px
}
#application .title.large {
    color: #247d7a;
}
#application a {
    color: #a0c549;
}
#application form {
    font-family: Raleway;
}
#application .form-group {
    margin-top: 3rem;
}
#application .form-control-file {
    left: 20%;
}
#application .btn {
    margin: 5px;
}

@media only screen and (max-width: 767px) {
  .row .col-md-6:nth-child(1) {
      margin-bottom: 50px;
  }
}